backend/src/main/resources/wsdl/businesspartner/SST-010-BusinessPartnerRead.wsdl

<wsdl:definitions name="os_BusinessPartnerRead" targetNamespace="urn:be.ch:KTBE_MDG:BUSINESS_PARTNER" xmlns:p1="urn:be.ch:KTBE_MDG:BUSINESS_PARTNER" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <wsp:Policy wsu:Id="OP_os_BusinessPartnerRead"/>
  <wsdl:types>
    <xsd:schema targetNamespace="http://sap.com/xi/SAPGlobal/GDT" xmlns="http://sap.com/xi/SAPGlobal/GDT" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:attribute name="DeletionIndicator" type="Indicator"/>
      <xsd:simpleType name="Indicator">
        <xsd:restriction base="xsd:boolean"/>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema targetNamespace="urn:be.ch:KTBE_MDG:BUSINESS_PARTNER" xmlns:p9="http://sap.com/xi/SAPGlobal/GDT" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:be.ch:KTBE_MDG:BUSINESS_PARTNER">
      <xsd:import namespace="http://sap.com/xi/SAPGlobal/GDT"/>
      <xsd:element name="BusinessPartnerRead_Response" type="BusinessPartnerRead_Response"/>
      <xsd:element name="BusinessPartnerRead_Request" type="BusinessPartnerRead_Request"/>
      <xsd:complexType name="AdditionalData">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">61777f85e18111ebc138000000605fae</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="KEY">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">fe98fb98d7dd11ebc049506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Schlüssel zum Feld</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="VALUE">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">fe98fb99d7dd11eb84db506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Feldwert</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="255"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="INDEX">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">fe98fb9ad7dd11eb8e46506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Position (optional)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="10"/>
                <xsd:fractionDigits value="0"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BusinessPartner_PAYMENT_DETAIL">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">af7b2bc8d88011ebc92c000000605fae</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="BANK_ID">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7d35662b618211eb8d69c2c10d8e829b</xsd:appinfo>
              <xsd:documentation>ID der Zahlungsverbindung</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="IBAN">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7d35820d618211eb8d62c2c10d8e829b</xsd:appinfo>
              <xsd:documentation>IBAN (International Bank Account Number)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="34"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BANKDETAILVALIDFROM" type="xsd:date">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7d35820f618211ebada1c2c10d8e829b</xsd:appinfo>
              <xsd:documentation>Gültigkeitsdatum (gültig ab)</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="BANKDETAILVALIDTO" type="xsd:date">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7d358210618211eba05bc2c10d8e829b</xsd:appinfo>
              <xsd:documentation>Gültigkeitsdatum (gültig bis)</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ACCOUNTHOLDER">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7d358209618211eb9f00c2c10d8e829b</xsd:appinfo>
              <xsd:documentation>Abweichender Name der Zahlungsverbindung</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="60"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BusinessPartner_ID_KEYS">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">b7e84e18328d11ec99ec00000188603e</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="EXT_ID">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d7ba27a31c2e11ebcd2900059a3c7a00</xsd:appinfo>
              <xsd:documentation>Geschäftspartnernummer im externen System</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="AHV_NR">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d7ba27a41c2e11ebb12100059a3c7a00</xsd:appinfo>
              <xsd:documentation>AHV-Nummer</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="13"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="UID_NR">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ad3ff079d7e411ebaa44506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Unternehmens-Identifikationsnummer</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ZPV_NR">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ad3ff07ad7e411eba8cf506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>ZPV-Nummer</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BusinessPartner_ADDRESS">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">5c414f60665111edc229000000605fae</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="ADR_KIND">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">6d838567665111eda774000000605fae</xsd:appinfo>
              <xsd:documentation>Adressart (XXDEFAULT = Standardadresse)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="C_O_NAME">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">6d838568665111eda70b000000605fae</xsd:appinfo>
              <xsd:documentation>c/o-Name</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CITY">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">6d838569665111edce82000000605fae</xsd:appinfo>
              <xsd:documentation>Ort</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DISTRICT">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">6d83856a665111ed9b72000000605fae</xsd:appinfo>
              <xsd:documentation>Ortsteil</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="POSTL_COD1">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">6d83856b665111edcd67000000605fae</xsd:appinfo>
              <xsd:documentation>Postleitzahl des Orts</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PO_BOX">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">6d83856c665111eda955000000605fae</xsd:appinfo>
              <xsd:documentation>Postfach</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STREET">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">6d83856d665111edc963000000605fae</xsd:appinfo>
              <xsd:documentation>Straße</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="HOUSE_NO">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">6d83856e665111edab79000000605fae</xsd:appinfo>
              <xsd:documentation>Hausnummer</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="COUNTRY">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">6d83856f665111ed8845000000605fae</xsd:appinfo>
              <xsd:documentation>Länderschlüssel</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="POSTL_COD2" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">6d838570665111edb598000000605fae</xsd:appinfo>
              <xsd:documentation>Postleitzahl zum Postfach</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BusinessPartnerRead_Request">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">40b336a7330411ecc2d900000188603e</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="SENDER" type="SenderParms">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">8e9a077812c411eba42600059a3c7a00</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="FILTER_PARMS">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">8e9a49fe12c411eb9c7600059a3c7a00</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="BPARTNER" minOccurs="0">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">a87236a7617711ebce5cc2c10d8e829b</xsd:appinfo>
                    <xsd:documentation>SAP ID eines Business Partners</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="10"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="EXT_ID" minOccurs="0">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">a87236a8617711eb9a5ec2c10d8e829b</xsd:appinfo>
                    <xsd:documentation>Geschäftspartnernummer im externen System</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="20"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="AHV_NR" minOccurs="0">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">031ee66dd7fb11ebb531506b8d8a2ecc</xsd:appinfo>
                    <xsd:documentation>AHV-Nummer</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="13"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="UID_NR" minOccurs="0">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">031ee66ed7fb11ebc6ab506b8d8a2ecc</xsd:appinfo>
                    <xsd:documentation>Unternehmens-Identifikationsnummer (nur bei PARNT_CAT = 2 (Organisation))</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="12"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ZPV_NR" minOccurs="0">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">031ee66fd7fb11ebc832506b8d8a2ecc</xsd:appinfo>
                    <xsd:documentation>ZPV-Nummer</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="10"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="DELIVERY_ID" minOccurs="0" default="0">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">031ee670d7fb11eb9bdd506b8d8a2ecc</xsd:appinfo>
                    <xsd:documentation>Delivery-ID</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                      <xsd:totalDigits value="19"/>
                      <xsd:fractionDigits value="0"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BusinessPartner_PERS_DATA">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">5dfe42f8eec411eb83e2000000605fae</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="FIRSTNAME">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e208bc1c2f11eb807300059a3c7a00</xsd:appinfo>
              <xsd:documentation>Vorname des Geschäftspartners (Person)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="LASTNAME">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e208bd1c2f11ebaf1f00059a3c7a00</xsd:appinfo>
              <xsd:documentation>Nachname des Geschäftspartners (Person)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CORRESPONDLANGUAGEISO">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e28d691c2f11eb991e00059a3c7a00</xsd:appinfo>
              <xsd:documentation>2-stelliger SAP Language Code</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BIRTHNAME">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e208be1c2f11eb88de00059a3c7a00</xsd:appinfo>
              <xsd:documentation>Geburtsname des Geschäftspartners</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MIDDLENAME">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e208bf1c2f11ebca2500059a3c7a00</xsd:appinfo>
              <xsd:documentation>Mittlerer Name oder zweiter Vorname der Person</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SECONDNAME">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e208c01c2f11eb817c00059a3c7a00</xsd:appinfo>
              <xsd:documentation>Zweiter Nachname der Person</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="TITLE_ACA1">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e208c11c2f11ebcef500059a3c7a00</xsd:appinfo>
              <xsd:documentation>Akademischer Titel: Schlüssel</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="TITLE_ACA2">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e208c21c2f11ebbe3c00059a3c7a00</xsd:appinfo>
              <xsd:documentation>Zweiter akademischer Titel (Schlüssel)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="TITLE_SPPL">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e239ff1c2f11eb831b00059a3c7a00</xsd:appinfo>
              <xsd:documentation>Namenszusatz, z.B. Adelstitel (Schlüssel)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PREFIX1">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e23a001c2f11eb9f1500059a3c7a00</xsd:appinfo>
              <xsd:documentation>Vorsatzwort zum Namen (Schlüssel)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PREFIX2">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e23a011c2f11eba6b300059a3c7a00</xsd:appinfo>
              <xsd:documentation>2. Vorsatzwort zum Namen (Schlüssel)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="NICKNAME">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e23a021c2f11ebc04800059a3c7a00</xsd:appinfo>
              <xsd:documentation>Rufname des Geschäftspartners (Person)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="INITIALS">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e23a031c2f11eb91ec00059a3c7a00</xsd:appinfo>
              <xsd:documentation>Middle Initial bzw. Initialen der Person</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="NAMEFORMAT">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e23a041c2f11ebbf2b00059a3c7a00</xsd:appinfo>
              <xsd:documentation>Format für die Namensaufbereitung</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="NAMCOUNTRY">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e2656e1c2f11eb800300059a3c7a00</xsd:appinfo>
              <xsd:documentation>Land für Namensaufbereitungsregel</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="NAMCOUNTRYISO">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e2656f1c2f11eb87a400059a3c7a00</xsd:appinfo>
              <xsd:documentation>ISO-Code des Landes</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SEX">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e265701c2f11ebb4b600059a3c7a00</xsd:appinfo>
              <xsd:documentation>Geschlecht des Geschäftspartners (Person)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BIRTHPLACE">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e265711c2f11eb92a300059a3c7a00</xsd:appinfo>
              <xsd:documentation>Geburtsort des Geschäftspartners</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BIRTHDATE" minOccurs="0" default="1000-01-01" nillable="true">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e265721c2f11eb803500059a3c7a00</xsd:appinfo>
              <xsd:documentation>Geburtsdatum des Geschäftspartners</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:date">
                  <xsd:attribute ref="p9:DeletionIndicator"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="DEATHDATE" minOccurs="0" default="1000-01-01" nillable="true">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e265731c2f11ebaf0100059a3c7a00</xsd:appinfo>
              <xsd:documentation>Sterbedatum des Geschäftspartners</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:date">
                  <xsd:attribute ref="p9:DeletionIndicator"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="MARITALSTATUS">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e265741c2f11eba3d000059a3c7a00</xsd:appinfo>
              <xsd:documentation>Familienstand des Geschäftspartners</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CORRESPONDLANGUAGE">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e28d681c2f11ebb1ce00059a3c7a00</xsd:appinfo>
              <xsd:documentation>Geschäftspartner: Korrespondenzsprache</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="FULLNAME">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e28d6a1c2f11ebb91900059a3c7a00</xsd:appinfo>
              <xsd:documentation>Vollständiger Name</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="80"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="EMPLOYER">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e28d6b1c2f11ebc9e600059a3c7a00</xsd:appinfo>
              <xsd:documentation>Name des Arbeitgebers einer natürlichen Person</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="35"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="OCCUPATION">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e28d6c1c2f11ebb0e900059a3c7a00</xsd:appinfo>
              <xsd:documentation>Beruf des Geschäftspartners</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="NATIONALITY">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e28d6d1c2f11ebb24300059a3c7a00</xsd:appinfo>
              <xsd:documentation>Nationalität des Geschäftspartners</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="NATIONALITYISO">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e28d6e1c2f11ebbf9100059a3c7a00</xsd:appinfo>
              <xsd:documentation>ISO-Code des Landes</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="COUNTRYORIGIN">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e28d6f1c2f11eb8bc300059a3c7a00</xsd:appinfo>
              <xsd:documentation>Herkunftsland bei Gebietsfremden</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BIRTHDT_STATUS">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e28d701c2f11ebbcce00059a3c7a00</xsd:appinfo>
              <xsd:documentation>Date of Birth: Status</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BusinessPartner_HEADER">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">a981c684aa0611ec9b2100000188603e</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="BPARTNER">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">aa32bd07aa0611ecc815000000605fae</xsd:appinfo>
              <xsd:documentation>SAP ID eines Business Partners</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PARTN_CAT">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">aa32bd08aa0611ec8486000000605fae</xsd:appinfo>
              <xsd:documentation>Geschäftspartnertyp: (1: Person, 2: Organisation )</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PARTN_TYP">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">aa32bd09aa0611ec87d8000000605fae</xsd:appinfo>
              <xsd:documentation>Geschäftspartnerart</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PARTN_GRP" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">aa32bd0aaa0611ec9de1000000605fae</xsd:appinfo>
              <xsd:documentation>Geschäftspartnergruppierung</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PARTN_TAXKD" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BusinessPartner_COMMUNICATION">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">07ffc476d88011ebbf9f000000605fae</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="CONSNUMBER">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">5a81f7f1d87711eba8b0506b8d80085b</xsd:appinfo>
              <xsd:documentation>ID der Kommunikation</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:integer">
                <xsd:totalDigits value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="EMAIL">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">34f3b1b2d7e911ebc73f506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Email-Adresse</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="241"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="TELEPHONE">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">34f3b1b3d7e911eba718506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Telefon-Nr.: Vorwahl + Anschluß</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MOBILE">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">34f3b1b4d7e911eb9d2b506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Mobiltelefon-Nr.: Vorwahl + Anschluß</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="FAX">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">34f3b1b5d7e911ebb9e1506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Fax-Nr.: Vorwahl + Anschluss</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BusinessPartnerRead_Response">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">e415f08ce18211ebc6cc000000605fae</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="BUSINESS_PARTNER" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ce87dc43112811eb815400059a3c7a00</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="HEADER" type="BusinessPartner_HEADER">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">ce878382112811ebcba100059a3c7a00</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="ID_KEYS" type="BusinessPartner_ID_KEYS">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">ce878385112811ebb9e100059a3c7a00</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="PERS_DATA" type="BusinessPartner_PERS_DATA" minOccurs="0">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">ce87dc42112811ebaca900059a3c7a00</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="ORG_DATA" type="BusinessPartner_ORG_DATA" minOccurs="0">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">e2cbc187112811eb955a00059a3c7a00</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="ADDRESS" type="BusinessPartner_ADDRESS" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">db0174621d1311eb93dc00059a3c7a00</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="COMMUNICATION" type="BusinessPartner_COMMUNICATION" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">e401d9f8e18211eba201506b8da5707a</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="PAYMENT_DETAIL" type="BusinessPartner_PAYMENT_DETAIL" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">bc76aec2112b11eb9c2900059a3c7a00</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="ADDITIONAL_DATA" type="AdditionalData" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">fe56731dd87d11eb925b506b8db478dd</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="RETURN_CODE" type="ReturnCode" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">db01b74f1d1311ebabec00059a3c7a00</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReturnCode">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">b157b495035511ed8e3900000188603e</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="TYPE">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">b1bc62d7035511eda740000000605fae</xsd:appinfo>
              <xsd:documentation>S = Success, W = Warning, E = Error, I = Info</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MSG_NR">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">b1bc62d8035511ed8018000000605fae</xsd:appinfo>
              <xsd:documentation>Eindeutige ID der Nachricht</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:integer">
                <xsd:totalDigits value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MESSAGE">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">b1bc9aff035511edb719000000605fae</xsd:appinfo>
              <xsd:documentation>Text der Nachricht</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="220"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ID" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">b1bc9b00035511ed99ec000000605fae</xsd:appinfo>
              <xsd:documentation>Nachrichtenklasse</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SenderParms">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">27615df1d80211eba2ce000000605fae</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="SYSID">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ac36ac4ad80211ebc5df506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>4-Stellige ID der Fachapplikation/Umsystem/Liefersystem</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:integer">
                <xsd:totalDigits value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BETRIEB" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ac36de46d80211eba140506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Betrieb/Mandant. Nur bei Mehrmandantensystemen relevant</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="VERSION" minOccurs="0" default="1.0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ac36de47d80211eb8096506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Version der Schnittstelle. Wird erst im Life Cycle wichtig, wenn neue Versionen der Schnittstelle notwendig werden. Defaultwert ist 1.0</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BusinessPartner_ORG_DATA">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">751066c0eec411eba860000000605fae</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="NAME1">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9d0b3ac71c3011eba80800059a3c7a00</xsd:appinfo>
              <xsd:documentation>Name 1 der Organisation</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="NAME2">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9d0b3ac81c3011eb9e5300059a3c7a00</xsd:appinfo>
              <xsd:documentation>Name 2 der Organisation</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="NAME3">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9d0b3ac91c3011eb876200059a3c7a00</xsd:appinfo>
              <xsd:documentation>Name 3 der Organisation</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="NAME4">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9d0b3aca1c3011ebcb8600059a3c7a00</xsd:appinfo>
              <xsd:documentation>Name 4 der Organisation</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="LANGU_ISO">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d33e2a10d88611eb8182506b8db478dd</xsd:appinfo>
              <xsd:documentation>Sprache der Organisation</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="LEGALFORM">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9d0b3acb1c3011eb92e000059a3c7a00</xsd:appinfo>
              <xsd:documentation>GP: Rechtsform der Organisation</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="INDUSTRYSECTOR">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9d0b3acc1c3011ebcc7700059a3c7a00</xsd:appinfo>
              <xsd:documentation>Branche</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="FOUNDATIONDATE" minOccurs="0" default="1000-01-01" nillable="true">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9d0b3acd1c3011eb860c00059a3c7a00</xsd:appinfo>
              <xsd:documentation>Gründungsdatum der Organisation</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:date">
                  <xsd:attribute ref="p9:DeletionIndicator"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="LIQUIDATIONDATE" minOccurs="0" default="1000-01-01" nillable="true">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9d0b3ace1c3011eb9d7600059a3c7a00</xsd:appinfo>
              <xsd:documentation>Liquidationsdatum der Organisation</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:date">
                  <xsd:attribute ref="p9:DeletionIndicator"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="LOC_NO_1">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9d0b3acf1c3011ebcd9900059a3c7a00</xsd:appinfo>
              <xsd:documentation>Internationale Lokationsnummer (Teil 1)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="7"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="LOC_NO_2">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9d0b3ad01c3011ebc94a00059a3c7a00</xsd:appinfo>
              <xsd:documentation>Internationale Lokationsnummer (Teil 2)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="5"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CHK_DIGIT">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9d0b3ad11c3011eb978c00059a3c7a00</xsd:appinfo>
              <xsd:documentation>Prüfziffer der internationalen Lokationsnummer</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="LEGALORG">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9d0b3ad21c3011ebb87a00059a3c7a00</xsd:appinfo>
              <xsd:documentation>Rechtsträger der Organisation</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BusinessPartnerRead_Request">
    <wsdl:documentation/>
    <wsdl:part name="BusinessPartnerRead_Request" element="p1:BusinessPartnerRead_Request"/>
  </wsdl:message>
  <wsdl:message name="BusinessPartnerRead_Response">
    <wsdl:documentation/>
    <wsdl:part name="BusinessPartnerRead_Response" element="p1:BusinessPartnerRead_Response"/>
  </wsdl:message>
  <wsdl:portType name="os_BusinessPartnerRead">
    <wsdl:documentation/>
    <wsdl:operation name="os_BusinessPartnerRead">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_os_BusinessPartnerRead"/>
      </wsp:Policy>
      <wsdl:input message="p1:BusinessPartnerRead_Request"/>
      <wsdl:output message="p1:BusinessPartnerRead_Response"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="os_BusinessPartnerReadBinding" type="p1:os_BusinessPartnerRead">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    <wsdl:operation name="os_BusinessPartnerRead">
      <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="os_BusinessPartnerReadService">
    <wsdl:port name="HTTP_Port" binding="p1:os_BusinessPartnerReadBinding">
      <soap:address location="http://sap-po-dev.infra.be.ch:50100/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_2080&amp;receiverParty=&amp;receiverService=&amp;interface=os_BusinessPartnerRead&amp;interfaceNamespace=urn%3Abe.ch%3AKTBE_MDG%3ABUSINESS_PARTNER" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:os_BusinessPartnerReadBinding">
      <soap:address location="https://sap-po-dev.infra.be.ch:443/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_2080&amp;receiverParty=&amp;receiverService=&amp;interface=os_BusinessPartnerRead&amp;interfaceNamespace=urn%3Abe.ch%3AKTBE_MDG%3ABUSINESS_PARTNER" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
