backend/src/main/resources/wsdl/businesspartner/SST-077-BusinessPartnerChange.wsdl

<wsdl:definitions name="os_BusinessPartnerChange" targetNamespace="urn:be.ch:KTBE_MDG:BUSINESS_PARTNER" xmlns:p1="urn:be.ch:KTBE_MDG:BUSINESS_PARTNER" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <wsp:Policy wsu:Id="OP_os_BusinessPartnerChange"/>
  <wsdl:types>
    <xsd:schema targetNamespace="urn:be.ch:KTBE_MDG:BUSINESS_PARTNER" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:be.ch:KTBE_MDG:BUSINESS_PARTNER">
      <xsd:element name="BusinessPartnerChange_Request" type="BusinessPartnerChange_Request"/>
      <xsd:element name="BusinessPartnerChange_Response" type="BusinessPartnerChange_Response"/>
      <xsd:complexType name="AdditionalData">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">61777f85e18111ebc138000000605fae</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="KEY">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">fe98fb98d7dd11ebc049506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Schlüssel zum Feld</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="VALUE">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">fe98fb99d7dd11eb84db506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Feldwert</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="255"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="INDEX">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">fe98fb9ad7dd11eb8e46506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Position (optional)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="10"/>
                <xsd:fractionDigits value="0"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReturnCode">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">b157b495035511ed8e3900000188603e</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="TYPE">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">b1bc62d7035511eda740000000605fae</xsd:appinfo>
              <xsd:documentation>S = Success, W = Warning, E = Error, I = Info</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MSG_NR">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">b1bc62d8035511ed8018000000605fae</xsd:appinfo>
              <xsd:documentation>Eindeutige ID der Nachricht</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:integer">
                <xsd:totalDigits value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MESSAGE">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">b1bc9aff035511edb719000000605fae</xsd:appinfo>
              <xsd:documentation>Text der Nachricht</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="220"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ID" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">b1bc9b00035511ed99ec000000605fae</xsd:appinfo>
              <xsd:documentation>Nachrichtenklasse</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BusinessPartnerChange_Request">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">7aad44b2665111edc88b000000605fae</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="SENDER" type="SenderParmsDelivery"/>
          <xsd:element name="BUSINESS_PARTNER">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="HEADER">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="BPARTNER">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0c8c65665111edc3c0000000605faf</xsd:appinfo>
                          <xsd:documentation>Geschäftspartnergruppierung</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="ID_KEYS">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="EXT_ID" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0c8c66665111edc0bd000000605faf</xsd:appinfo>
                          <xsd:documentation>Geschäftspartnernummer im externen System</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="20"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="AHV_NR" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0c8c67665111edaeb9000000605faf</xsd:appinfo>
                          <xsd:documentation>AHV-Nummer</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="13"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="UID_NR" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0c8c68665111edbc50000000605faf</xsd:appinfo>
                          <xsd:documentation>Unternehmens-Identifikationsnummer</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="12"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="ZPV_NR" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0c8c69665111edb6d1000000605faf</xsd:appinfo>
                          <xsd:documentation>ZPV-Nummer</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="PERS_DATA" minOccurs="0">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="FIRSTNAME" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0c8c6a665111edc785000000605faf</xsd:appinfo>
                          <xsd:documentation>Vorname des Geschäftspartners (Person)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="LASTNAME" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0c8c6b665111edb50b000000605faf</xsd:appinfo>
                          <xsd:documentation>Nachname des Geschäftspartners (Person)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="CORRESPONDLANGUAGEISO" minOccurs="0" default="DE">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0c8c6c665111edb59f000000605faf</xsd:appinfo>
                          <xsd:documentation>2-stelliger SAP Language Code</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="2"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="BIRTHNAME" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0c8c6d665111eda154000000605faf</xsd:appinfo>
                          <xsd:documentation>Geburtsname des Geschäftspartners</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="MIDDLENAME" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0c8c6e665111ed8ef2000000605faf</xsd:appinfo>
                          <xsd:documentation>Mittlerer Name oder zweiter Vorname der Person</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="SECONDNAME" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0c8c6f665111edaa26000000605faf</xsd:appinfo>
                          <xsd:documentation>Zweiter Nachname der Person</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="TITLE_ACA1" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0c8c70665111edb7fe000000605faf</xsd:appinfo>
                          <xsd:documentation>Akademischer Titel: Schlüssel</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="0001"/>
                            <xsd:enumeration value="0002"/>
                            <xsd:enumeration value="0003"/>
                            <xsd:enumeration value="0004"/>
                            <xsd:enumeration value="0005"/>
                            <xsd:enumeration value="0006"/>
                            <xsd:maxLength value="4"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="TITLE_ACA2" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0c8c71665111edb39c000000605faf</xsd:appinfo>
                          <xsd:documentation>Zweiter akademischer Titel (Schlüssel)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="TITLE_SPPL" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0c8c72665111ed9775000000605faf</xsd:appinfo>
                          <xsd:documentation>Namenszusatz, z.B. Adelstitel (Schlüssel)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="PREFIX1" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0c8c73665111ed90b0000000605faf</xsd:appinfo>
                          <xsd:documentation>Vorsatzwort zum Namen (Schlüssel)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="PREFIX2" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0c8c74665111edaff7000000605faf</xsd:appinfo>
                          <xsd:documentation>2. Vorsatzwort zum Namen (Schlüssel)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="NICKNAME" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0c8c75665111ed9825000000605faf</xsd:appinfo>
                          <xsd:documentation>Rufname des Geschäftspartners (Person)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="INITIALS" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0c8c76665111ed96d5000000605faf</xsd:appinfo>
                          <xsd:documentation>Middle Initial bzw. Initialen der Person</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="NAMEFORMAT" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0c8c77665111ed954f000000605faf</xsd:appinfo>
                          <xsd:documentation>Format für die Namensaufbereitung</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="2"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="NAMCOUNTRY" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0c8c78665111ed8c73000000605faf</xsd:appinfo>
                          <xsd:documentation>Land für Namensaufbereitungsregel</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="3"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="NAMCOUNTRYISO" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0c8c79665111ed8161000000605faf</xsd:appinfo>
                          <xsd:documentation>ISO-Code des Landes</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="2"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="SEX" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0c8c7a665111eda041000000605faf</xsd:appinfo>
                          <xsd:documentation>Geschlecht des Geschäftspartners (Person)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="1"/>
                            <xsd:enumeration value="2"/>
                            <xsd:maxLength value="1"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="BIRTHPLACE" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0c8c7b665111edbf0d000000605faf</xsd:appinfo>
                          <xsd:documentation>Geburtsort des Geschäftspartners</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="BIRTHDATE" type="xsd:date" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0c8c7c665111edcad9000000605faf</xsd:appinfo>
                          <xsd:documentation>Geburtsdatum des Geschäftspartners</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="DEATHDATE" type="xsd:date" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0c8c7d665111ed85b0000000605faf</xsd:appinfo>
                          <xsd:documentation>Sterbedatum des Geschäftspartners</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="MARITALSTATUS" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0c8c7e665111edb75c000000605faf</xsd:appinfo>
                          <xsd:documentation>Familienstand des Geschäftspartners</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="1"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="CORRESPONDLANGUAGE" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0cb323665111eda33a000000605faf</xsd:appinfo>
                          <xsd:documentation>Geschäftspartner: Korrespondenzsprache</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="1"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="FULLNAME" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0cb324665111ed9b85000000605faf</xsd:appinfo>
                          <xsd:documentation>Vollständiger Name</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="80"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="EMPLOYER" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0cb325665111eda4fa000000605faf</xsd:appinfo>
                          <xsd:documentation>Name des Arbeitgebers einer natürlichen Person</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="35"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="OCCUPATION" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0cb326665111ed84ef000000605faf</xsd:appinfo>
                          <xsd:documentation>Beruf des Geschäftspartners</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="NATIONALITY" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0cb327665111edaa5d000000605faf</xsd:appinfo>
                          <xsd:documentation>Nationalität des Geschäftspartners</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="3"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="NATIONALITYISO" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0cb328665111ed8981000000605faf</xsd:appinfo>
                          <xsd:documentation>ISO-Code des Landes</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="2"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="COUNTRYORIGIN" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0cb329665111edb9ec000000605faf</xsd:appinfo>
                          <xsd:documentation>Herkunftsland bei Gebietsfremden</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="3"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="BIRTHDT_STATUS" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0cb32a665111ed8b07000000605faf</xsd:appinfo>
                          <xsd:documentation>Date of Birth: Status</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="1"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="ORG_DATA" minOccurs="0">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="NAME1" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0cb32b665111eda659000000605faf</xsd:appinfo>
                          <xsd:documentation>Name 1 der Organisation</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="NAME2" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0cb32c665111ed96a6000000605faf</xsd:appinfo>
                          <xsd:documentation>Name 2 der Organisation</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="NAME3" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0cb32d665111edcae0000000605faf</xsd:appinfo>
                          <xsd:documentation>Name 3 der Organisation</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="NAME4" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0cb32e665111ed901d000000605faf</xsd:appinfo>
                          <xsd:documentation>Name 4 der Organisation</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="LANGU_ISO" minOccurs="0" default="DE">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0cb32f665111ed8963000000605faf</xsd:appinfo>
                          <xsd:documentation>Sprache der Organisation</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="2"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="LEGALFORM" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0cb330665111edaed2000000605faf</xsd:appinfo>
                          <xsd:documentation>GP: Rechtsform der Organisation</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="2"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="INDUSTRYSECTOR" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0cb331665111ed9120000000605faf</xsd:appinfo>
                          <xsd:documentation>Branche</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="FOUNDATIONDATE" type="xsd:date" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0cb332665111ed9551000000605faf</xsd:appinfo>
                          <xsd:documentation>Gründungsdatum der Organisation</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="LIQUIDATIONDATE" type="xsd:date" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0cb333665111edba02000000605faf</xsd:appinfo>
                          <xsd:documentation>Liquidationsdatum der Organisation</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="LOC_NO_1" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0d032e665111eda664000000605faf</xsd:appinfo>
                          <xsd:documentation>Internationale Lokationsnummer (Teil 1)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="7"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="LOC_NO_2" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0d032f665111ed913a000000605faf</xsd:appinfo>
                          <xsd:documentation>Internationale Lokationsnummer (Teil 2)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="5"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="CHK_DIGIT" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0d0330665111edbe4b000000605faf</xsd:appinfo>
                          <xsd:documentation>Prüfziffer der internationalen Lokationsnummer</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="1"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="LEGALORG" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0d0331665111ed86b6000000605faf</xsd:appinfo>
                          <xsd:documentation>Rechtsträger der Organisation</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="2"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="ADDRESS" minOccurs="0" maxOccurs="unbounded">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="ADR_KIND" default="XXDEFAULT">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0d0332665111edb28c000000605faf</xsd:appinfo>
                          <xsd:documentation>Adressart</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="C_O_NAME" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0d0333665111ed9bce000000605faf</xsd:appinfo>
                          <xsd:documentation>c/o-Name</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="CITY" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0d0334665111ed9c75000000605faf</xsd:appinfo>
                          <xsd:documentation>Ort</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="DISTRICT" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0d0335665111edad3c000000605faf</xsd:appinfo>
                          <xsd:documentation>Ortsteil</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="POSTL_COD1" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0d0336665111ed87c5000000605faf</xsd:appinfo>
                          <xsd:documentation>Postleitzahl des Orts</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="PO_BOX" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0d0337665111eda9d9000000605faf</xsd:appinfo>
                          <xsd:documentation>Postfach</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="STREET" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0d0338665111ed9a8f000000605faf</xsd:appinfo>
                          <xsd:documentation>Straße</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="HOUSE_NO" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0d0339665111ed9c30000000605faf</xsd:appinfo>
                          <xsd:documentation>Hausnummer</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="COUNTRY" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0d033a665111ed8666000000605faf</xsd:appinfo>
                          <xsd:documentation>Länderschlüssel</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="3"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="POSTL_COD2" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0d033b665111ed85bd000000605faf</xsd:appinfo>
                          <xsd:documentation>Postleitzahl zum Postfach</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="COMMUNICATION" minOccurs="0" maxOccurs="unbounded">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="CONSNUMBER" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0d033c665111eda156000000605faf</xsd:appinfo>
                          <xsd:documentation>ID der Kommunikation</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:integer">
                            <xsd:totalDigits value="3"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="EMAIL" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0d033d665111edc7ef000000605faf</xsd:appinfo>
                          <xsd:documentation>Email-Adresse</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="241"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="TELEPHONE" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0d033e665111ed9da7000000605faf</xsd:appinfo>
                          <xsd:documentation>Erste Telefon-Nr.: Vorwahl + Anschluß</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="30"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="MOBILE" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0d033f665111eda47d000000605faf</xsd:appinfo>
                          <xsd:documentation>Erste Mobiltelefon-Nr.: Vorwahl + Anschluß</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="30"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="FAX" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0d0340665111edc997000000605faf</xsd:appinfo>
                          <xsd:documentation>Erste Fax-Nr.: Vorwahl + Anschluss</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="30"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="PAYMENT_DETAIL" minOccurs="0" maxOccurs="unbounded">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="BANK_ID">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0d1937665111ed9210000000605faf</xsd:appinfo>
                          <xsd:documentation>ID der Zahlungsverbindung</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="IBAN" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0d1938665111edc91d000000605faf</xsd:appinfo>
                          <xsd:documentation>IBAN (International Bank Account Number)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="34"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="BANKDETAILVALIDFROM" type="xsd:date" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0d1939665111ed8fbc000000605faf</xsd:appinfo>
                          <xsd:documentation>Gültigkeitsdatum (gültig ab)</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="BANKDETAILVALIDTO" type="xsd:date" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0d193a665111edcc36000000605faf</xsd:appinfo>
                          <xsd:documentation>Gültigkeitsdatum (gültig bis)</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="ACCOUNTHOLDER" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">7b0d193b665111edbacd000000605faf</xsd:appinfo>
                          <xsd:documentation>Abweichender Name der Zahlungsverbindung</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="60"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="ADDITIONAL_DATA" type="AdditionalData" minOccurs="0" maxOccurs="unbounded"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BusinessPartnerChange_Response">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">c80c5193d7f911ebb352000000605fae</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="RETURN_CODE" type="ReturnCode" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ff49d51507cf11ebc5b100059a3c7a00</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SenderParmsDelivery">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">c40fb214d80211eb849e000000605fae</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="SYSID">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ac36ac4ad80211ebc5df506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>4-Stellige ID der Fachapplikation/Umsystem/Liefersystem</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:integer">
                <xsd:totalDigits value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BETRIEB" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ac36de46d80211eba140506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Betrieb/Mandant. Nur bei Mehrmandantensystemen relevant</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DELIVERY_ID">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">e94c7295d80211eb8767506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Für das Liefersystem eindeutige Id zum Identifizieren der Lieferung (SST-übergreifend)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="19"/>
                <xsd:fractionDigits value="0"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="VERSION" minOccurs="0" default="1.0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ac36de47d80211eb8096506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Version der Schnittstelle. Wird erst im Life Cycle wichtig, wenn neue Versionen der Schnittstelle notwendig werden. Defaultwert ist 1.0</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BusinessPartnerChange_Request">
    <wsdl:documentation/>
    <wsdl:part name="BusinessPartnerChange_Request" element="p1:BusinessPartnerChange_Request"/>
  </wsdl:message>
  <wsdl:message name="BusinessPartnerChange_Response">
    <wsdl:documentation/>
    <wsdl:part name="BusinessPartnerChange_Response" element="p1:BusinessPartnerChange_Response"/>
  </wsdl:message>
  <wsdl:portType name="os_BusinessPartnerChange">
    <wsdl:documentation/>
    <wsdl:operation name="os_BusinessPartnerChange">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_os_BusinessPartnerChange"/>
      </wsp:Policy>
      <wsdl:input message="p1:BusinessPartnerChange_Request"/>
      <wsdl:output message="p1:BusinessPartnerChange_Response"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="os_BusinessPartnerChangeBinding" type="p1:os_BusinessPartnerChange">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    <wsdl:operation name="os_BusinessPartnerChange">
      <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="os_BusinessPartnerChangeService">
    <wsdl:port name="HTTP_Port" binding="p1:os_BusinessPartnerChangeBinding">
      <soap:address location="http://sap-po-dev.infra.be.ch:50100/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_2080&amp;receiverParty=&amp;receiverService=&amp;interface=os_BusinessPartnerChange&amp;interfaceNamespace=urn%3Abe.ch%3AKTBE_MDG%3ABUSINESS_PARTNER" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:os_BusinessPartnerChangeBinding">
      <soap:address location="https://sap-po-dev.infra.be.ch:443/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_2080&amp;receiverParty=&amp;receiverService=&amp;interface=os_BusinessPartnerChange&amp;interfaceNamespace=urn%3Abe.ch%3AKTBE_MDG%3ABUSINESS_PARTNER" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
