backend/src/main/resources/wsdl/businesspartner/SST-009-BusinessPartnerCreate.wsdl

<wsdl:definitions name="os_BusinessPartnerCreate" targetNamespace="urn:be.ch:KTBE_MDG:BUSINESS_PARTNER" xmlns:p1="urn:be.ch:KTBE_MDG:BUSINESS_PARTNER" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <wsp:Policy wsu:Id="OP_os_BusinessPartnerCreate"/>
  <wsdl:types>
    <xsd:schema targetNamespace="http://sap.com/xi/SAPGlobal/GDT" xmlns="http://sap.com/xi/SAPGlobal/GDT" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:attribute name="DeletionIndicator" type="Indicator"/>
      <xsd:simpleType name="Indicator">
        <xsd:restriction base="xsd:boolean"/>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema targetNamespace="urn:be.ch:KTBE_MDG:BUSINESS_PARTNER" xmlns:p9="http://sap.com/xi/SAPGlobal/GDT" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:be.ch:KTBE_MDG:BUSINESS_PARTNER">
      <xsd:import namespace="http://sap.com/xi/SAPGlobal/GDT"/>
      <xsd:element name="BusinessPartnerCreate_Request" type="BusinessPartnerCreate_Request"/>
      <xsd:element name="BusinessPartnerCreate_Response" type="BusinessPartnerCreate_Response"/>
      <xsd:complexType name="BusinessPartnerCreate_Request">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">5068123adde111edc1a0000000605faf</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="SENDER" type="SenderParmsDelivery"/>
          <xsd:element name="BUSINESS_PARTNER">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="HEADER">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="PARTN_CAT" default="1">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51ffa28fdde111eda1c6000000605fae</xsd:appinfo>
                          <xsd:documentation>Geschäftspartnertyp</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="1"/>
                            <xsd:enumeration value="2"/>
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="PARTN_TYP" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51ffa290dde111ed90bb000000605fae</xsd:appinfo>
                          <xsd:documentation>Geschäftspartnerart</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="PARTN_GRP" minOccurs="0" default="ZBPE">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51ffa291dde111ed9938000000605fae</xsd:appinfo>
                          <xsd:documentation>Geschäftspartnergruppierung</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="ZBPE"/>
                            <xsd:maxLength value="4"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="PARTN_TAXKD" minOccurs="0" default="1">
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="1"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="ID_KEYS">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="EXT_ID">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51ffa292dde111edb0b5000000605fae</xsd:appinfo>
                          <xsd:documentation>Geschäftspartnernummer im externen System</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="20"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="AHV_NR" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51ffa293dde111edbaac000000605fae</xsd:appinfo>
                          <xsd:documentation>AHV-Nummer</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="13"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="UID_NR" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51ffa294dde111ed95f4000000605fae</xsd:appinfo>
                          <xsd:documentation>Unternehmens-Identifikationsnummer</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="12"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="ZPV_NR" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51ffa295dde111edbe09000000605fae</xsd:appinfo>
                          <xsd:documentation>ZPV-Nummer</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="PERS_DATA" minOccurs="0">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="FIRSTNAME">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51ffa296dde111ed9a1a000000605fae</xsd:appinfo>
                          <xsd:documentation>Vorname des Geschäftspartners (Person)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="LASTNAME">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51ffa297dde111edc6b6000000605fae</xsd:appinfo>
                          <xsd:documentation>Nachname des Geschäftspartners (Person)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="CORRESPONDLANGUAGEISO" default="DE">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51ffd83fdde111ed861f000000605fae</xsd:appinfo>
                          <xsd:documentation>2-stelliger SAP Language Code</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="2"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="BIRTHNAME" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51ffd840dde111edbf68000000605fae</xsd:appinfo>
                          <xsd:documentation>Geburtsname des Geschäftspartners</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="MIDDLENAME" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51fff6e2dde111edce02000000605fae</xsd:appinfo>
                          <xsd:documentation>Mittlerer Name oder zweiter Vorname der Person</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="SECONDNAME" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51fff6e3dde111ed9e33000000605fae</xsd:appinfo>
                          <xsd:documentation>Zweiter Nachname der Person</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="TITLE_ACA1" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51fff6e4dde111ed801c000000605fae</xsd:appinfo>
                          <xsd:documentation>Akademischer Titel: Schlüssel</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="0001"/>
                            <xsd:enumeration value="0002"/>
                            <xsd:enumeration value="0003"/>
                            <xsd:enumeration value="0004"/>
                            <xsd:enumeration value="0005"/>
                            <xsd:enumeration value="0006"/>
                            <xsd:maxLength value="4"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="TITLE_ACA2" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51fff6e5dde111edc076000000605fae</xsd:appinfo>
                          <xsd:documentation>Zweiter akademischer Titel (Schlüssel)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="TITLE_SPPL" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51fff6e6dde111ed90dd000000605fae</xsd:appinfo>
                          <xsd:documentation>Namenszusatz, z.B. Adelstitel (Schlüssel)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="PREFIX1" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51fff6e7dde111eda31e000000605fae</xsd:appinfo>
                          <xsd:documentation>Vorsatzwort zum Namen (Schlüssel)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="PREFIX2" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51fff6e8dde111ed800e000000605fae</xsd:appinfo>
                          <xsd:documentation>2. Vorsatzwort zum Namen (Schlüssel)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="NICKNAME" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51fff6e9dde111edab38000000605fae</xsd:appinfo>
                          <xsd:documentation>Rufname des Geschäftspartners (Person)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="INITIALS" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51fff6eadde111ed899f000000605fae</xsd:appinfo>
                          <xsd:documentation>Middle Initial bzw. Initialen der Person</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="NAMEFORMAT" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51fff6ebdde111edcd23000000605fae</xsd:appinfo>
                          <xsd:documentation>Format für die Namensaufbereitung</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="2"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="NAMCOUNTRY" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51fff6ecdde111ed8551000000605fae</xsd:appinfo>
                          <xsd:documentation>Land für Namensaufbereitungsregel</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="3"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="NAMCOUNTRYISO" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51fff6eddde111edaf6c000000605fae</xsd:appinfo>
                          <xsd:documentation>ISO-Code des Landes</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="2"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="SEX" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51fff6eedde111edb735000000605fae</xsd:appinfo>
                          <xsd:documentation>Geschlecht des Geschäftspartners (Person)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="1"/>
                            <xsd:enumeration value="2"/>
                            <xsd:maxLength value="1"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="BIRTHPLACE" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51fff6efdde111edc700000000605fae</xsd:appinfo>
                          <xsd:documentation>Geburtsort des Geschäftspartners</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="BIRTHDATE" type="xsd:date" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51fff6f0dde111ed940f000000605fae</xsd:appinfo>
                          <xsd:documentation>Geburtsdatum des Geschäftspartners</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="DEATHDATE" type="xsd:date" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51fff6f1dde111edccfd000000605fae</xsd:appinfo>
                          <xsd:documentation>Sterbedatum des Geschäftspartners</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="MARITALSTATUS" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51fff6f2dde111ed87b7000000605fae</xsd:appinfo>
                          <xsd:documentation>Familienstand des Geschäftspartners</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="1"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="CORRESPONDLANGUAGE" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51fff6f3dde111ed968c000000605fae</xsd:appinfo>
                          <xsd:documentation>Geschäftspartner: Korrespondenzsprache</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="1"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="FULLNAME" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51fff6f4dde111ed8b94000000605fae</xsd:appinfo>
                          <xsd:documentation>Vollständiger Name</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="80"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="EMPLOYER" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51fff6f5dde111ed87d3000000605fae</xsd:appinfo>
                          <xsd:documentation>Name des Arbeitgebers einer natürlichen Person</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="35"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="OCCUPATION" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51fff6f6dde111edcb5b000000605fae</xsd:appinfo>
                          <xsd:documentation>Beruf des Geschäftspartners</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="NATIONALITY" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51fff6f7dde111edaf47000000605fae</xsd:appinfo>
                          <xsd:documentation>Nationalität des Geschäftspartners</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="3"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="NATIONALITYISO" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51fff6f8dde111ed8a51000000605fae</xsd:appinfo>
                          <xsd:documentation>ISO-Code des Landes</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="2"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="COUNTRYORIGIN" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51fff6f9dde111edc4d7000000605fae</xsd:appinfo>
                          <xsd:documentation>Herkunftsland bei Gebietsfremden</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="3"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="BIRTHDT_STATUS" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51fff6fadde111edb60a000000605fae</xsd:appinfo>
                          <xsd:documentation>Date of Birth: Status</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="1"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="ORG_DATA" minOccurs="0">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="NAME1">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51fff6fbdde111edbd3f000000605fae</xsd:appinfo>
                          <xsd:documentation>Name 1 der Organisation</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="NAME2" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">51fff6fcdde111edc030000000605fae</xsd:appinfo>
                          <xsd:documentation>Name 2 der Organisation</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="NAME3" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">52002788dde111edb0c9000000605fae</xsd:appinfo>
                          <xsd:documentation>Name 3 der Organisation</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="NAME4" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">52002789dde111ed8342000000605fae</xsd:appinfo>
                          <xsd:documentation>Name 4 der Organisation</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="LANGU_ISO" default="DE">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">5200278adde111ed8538000000605fae</xsd:appinfo>
                          <xsd:documentation>Sprache der Organisation</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="2"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="LEGALFORM" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">5200278bdde111edbb26000000605fae</xsd:appinfo>
                          <xsd:documentation>GP: Rechtsform der Organisation</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="2"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="INDUSTRYSECTOR" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">5200278cdde111edad50000000605fae</xsd:appinfo>
                          <xsd:documentation>Branche</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="FOUNDATIONDATE" type="xsd:date" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">5200278ddde111edc275000000605fae</xsd:appinfo>
                          <xsd:documentation>Gründungsdatum der Organisation</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="LIQUIDATIONDATE" type="xsd:date" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">5200278edde111edc309000000605fae</xsd:appinfo>
                          <xsd:documentation>Liquidationsdatum der Organisation</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="LOC_NO_1" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">5200278fdde111ed96f1000000605fae</xsd:appinfo>
                          <xsd:documentation>Internationale Lokationsnummer (Teil 1)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="7"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="LOC_NO_2" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">52002790dde111ed8f3c000000605fae</xsd:appinfo>
                          <xsd:documentation>Internationale Lokationsnummer (Teil 2)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="5"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="CHK_DIGIT" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">52002791dde111ed8447000000605fae</xsd:appinfo>
                          <xsd:documentation>Prüfziffer der internationalen Lokationsnummer</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="1"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="LEGALORG" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">52002792dde111edb4bb000000605fae</xsd:appinfo>
                          <xsd:documentation>Rechtsträger der Organisation</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="2"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="ADDRESS" maxOccurs="unbounded">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="ADR_KIND" default="XXDEFAULT">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">52002793dde111eda625000000605fae</xsd:appinfo>
                          <xsd:documentation>Adressart</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="C_O_NAME" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">52002794dde111edc781000000605fae</xsd:appinfo>
                          <xsd:documentation>c/o-Name</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="CITY">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">52002795dde111edb365000000605fae</xsd:appinfo>
                          <xsd:documentation>Ort</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="DISTRICT" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">52002796dde111ed854f000000605fae</xsd:appinfo>
                          <xsd:documentation>Ortsteil</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="POSTL_COD1">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">52002797dde111edc2c9000000605fae</xsd:appinfo>
                          <xsd:documentation>Postleitzahl des Orts</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="PO_BOX" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">52002798dde111edb2bd000000605fae</xsd:appinfo>
                          <xsd:documentation>Postfach</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="STREET">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">52002799dde111ed8b3c000000605fae</xsd:appinfo>
                          <xsd:documentation>Straße</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="HOUSE_NO" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">5200279adde111eda2bd000000605fae</xsd:appinfo>
                          <xsd:documentation>Hausnummer</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="COUNTRY">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">5200279bdde111ed8cdb000000605fae</xsd:appinfo>
                          <xsd:documentation>Länderschlüssel</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="3"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="POSTL_COD2" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">5200279cdde111edc2a9000000605fae</xsd:appinfo>
                          <xsd:documentation>Postleitzahl zum Postfach</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="COMMUNICATION" minOccurs="0" maxOccurs="unbounded">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="EMAIL" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">5200279ddde111ed909e000000605fae</xsd:appinfo>
                          <xsd:documentation>Email-Adresse</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="241"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="TELEPHONE" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">5200279edde111ed887e000000605fae</xsd:appinfo>
                          <xsd:documentation>Erste Telefon-Nr.: Vorwahl + Anschluß</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="30"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="MOBILE" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">5200279fdde111eda43f000000605fae</xsd:appinfo>
                          <xsd:documentation>Erste Mobiltelefon-Nr.: Vorwahl + Anschluß</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="30"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="FAX" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">520027a0dde111edc7c5000000605fae</xsd:appinfo>
                          <xsd:documentation>Erste Fax-Nr.: Vorwahl + Anschluss</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="30"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="PAYMENT_DETAIL" minOccurs="0" maxOccurs="unbounded">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="IBAN">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">520027a1dde111edbc64000000605fae</xsd:appinfo>
                          <xsd:documentation>IBAN (International Bank Account Number)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="34"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="BANKDETAILVALIDFROM" type="xsd:date" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">520027a2dde111ed8d9e000000605fae</xsd:appinfo>
                          <xsd:documentation>Gültigkeitsdatum (gültig ab)</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="BANKDETAILVALIDTO" type="xsd:date" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">520027a3dde111ed9203000000605fae</xsd:appinfo>
                          <xsd:documentation>Gültigkeitsdatum (gültig bis)</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="ACCOUNTHOLDER" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">520027a4dde111eda770000000605fae</xsd:appinfo>
                          <xsd:documentation>Abweichender Name der Zahlungsverbindung</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="60"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="ADDITIONAL_DATA" type="AdditionalData" minOccurs="0" maxOccurs="unbounded"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AdditionalData">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">61777f85e18111ebc138000000605fae</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="KEY">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">fe98fb98d7dd11ebc049506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Schlüssel zum Feld</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="VALUE">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">fe98fb99d7dd11eb84db506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Feldwert</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="255"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="INDEX">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">fe98fb9ad7dd11eb8e46506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Position (optional)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="10"/>
                <xsd:fractionDigits value="0"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReturnCode">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">b157b495035511ed8e3900000188603e</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="TYPE">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">b1bc62d7035511eda740000000605fae</xsd:appinfo>
              <xsd:documentation>S = Success, W = Warning, E = Error, I = Info</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MSG_NR">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">b1bc62d8035511ed8018000000605fae</xsd:appinfo>
              <xsd:documentation>Eindeutige ID der Nachricht</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:integer">
                <xsd:totalDigits value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MESSAGE">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">b1bc9aff035511edb719000000605fae</xsd:appinfo>
              <xsd:documentation>Text der Nachricht</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="220"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ID" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">b1bc9b00035511ed99ec000000605fae</xsd:appinfo>
              <xsd:documentation>Nachrichtenklasse</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BusinessPartner_ID_KEYS">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">b7e84e18328d11ec99ec00000188603e</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="EXT_ID">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d7ba27a31c2e11ebcd2900059a3c7a00</xsd:appinfo>
              <xsd:documentation>Geschäftspartnernummer im externen System</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="AHV_NR">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d7ba27a41c2e11ebb12100059a3c7a00</xsd:appinfo>
              <xsd:documentation>AHV-Nummer</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="13"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="UID_NR">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ad3ff079d7e411ebaa44506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Unternehmens-Identifikationsnummer</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ZPV_NR">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ad3ff07ad7e411eba8cf506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>ZPV-Nummer</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BusinessPartner_PERS_DATA">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">5dfe42f8eec411eb83e2000000605fae</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="FIRSTNAME">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e208bc1c2f11eb807300059a3c7a00</xsd:appinfo>
              <xsd:documentation>Vorname des Geschäftspartners (Person)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="LASTNAME">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e208bd1c2f11ebaf1f00059a3c7a00</xsd:appinfo>
              <xsd:documentation>Nachname des Geschäftspartners (Person)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CORRESPONDLANGUAGEISO">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e28d691c2f11eb991e00059a3c7a00</xsd:appinfo>
              <xsd:documentation>2-stelliger SAP Language Code</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BIRTHNAME">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e208be1c2f11eb88de00059a3c7a00</xsd:appinfo>
              <xsd:documentation>Geburtsname des Geschäftspartners</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MIDDLENAME">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e208bf1c2f11ebca2500059a3c7a00</xsd:appinfo>
              <xsd:documentation>Mittlerer Name oder zweiter Vorname der Person</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SECONDNAME">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e208c01c2f11eb817c00059a3c7a00</xsd:appinfo>
              <xsd:documentation>Zweiter Nachname der Person</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="TITLE_ACA1">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e208c11c2f11ebcef500059a3c7a00</xsd:appinfo>
              <xsd:documentation>Akademischer Titel: Schlüssel</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="TITLE_ACA2">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e208c21c2f11ebbe3c00059a3c7a00</xsd:appinfo>
              <xsd:documentation>Zweiter akademischer Titel (Schlüssel)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="TITLE_SPPL">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e239ff1c2f11eb831b00059a3c7a00</xsd:appinfo>
              <xsd:documentation>Namenszusatz, z.B. Adelstitel (Schlüssel)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PREFIX1">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e23a001c2f11eb9f1500059a3c7a00</xsd:appinfo>
              <xsd:documentation>Vorsatzwort zum Namen (Schlüssel)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PREFIX2">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e23a011c2f11eba6b300059a3c7a00</xsd:appinfo>
              <xsd:documentation>2. Vorsatzwort zum Namen (Schlüssel)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="NICKNAME">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e23a021c2f11ebc04800059a3c7a00</xsd:appinfo>
              <xsd:documentation>Rufname des Geschäftspartners (Person)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="INITIALS">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e23a031c2f11eb91ec00059a3c7a00</xsd:appinfo>
              <xsd:documentation>Middle Initial bzw. Initialen der Person</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="NAMEFORMAT">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e23a041c2f11ebbf2b00059a3c7a00</xsd:appinfo>
              <xsd:documentation>Format für die Namensaufbereitung</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="NAMCOUNTRY">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e2656e1c2f11eb800300059a3c7a00</xsd:appinfo>
              <xsd:documentation>Land für Namensaufbereitungsregel</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="NAMCOUNTRYISO">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e2656f1c2f11eb87a400059a3c7a00</xsd:appinfo>
              <xsd:documentation>ISO-Code des Landes</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SEX">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e265701c2f11ebb4b600059a3c7a00</xsd:appinfo>
              <xsd:documentation>Geschlecht des Geschäftspartners (Person)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BIRTHPLACE">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e265711c2f11eb92a300059a3c7a00</xsd:appinfo>
              <xsd:documentation>Geburtsort des Geschäftspartners</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BIRTHDATE" minOccurs="0" default="1000-01-01" nillable="true">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e265721c2f11eb803500059a3c7a00</xsd:appinfo>
              <xsd:documentation>Geburtsdatum des Geschäftspartners</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:date">
                  <xsd:attribute ref="p9:DeletionIndicator"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="DEATHDATE" minOccurs="0" default="1000-01-01" nillable="true">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e265731c2f11ebaf0100059a3c7a00</xsd:appinfo>
              <xsd:documentation>Sterbedatum des Geschäftspartners</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:date">
                  <xsd:attribute ref="p9:DeletionIndicator"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="MARITALSTATUS">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e265741c2f11eba3d000059a3c7a00</xsd:appinfo>
              <xsd:documentation>Familienstand des Geschäftspartners</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CORRESPONDLANGUAGE">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e28d681c2f11ebb1ce00059a3c7a00</xsd:appinfo>
              <xsd:documentation>Geschäftspartner: Korrespondenzsprache</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="FULLNAME">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e28d6a1c2f11ebb91900059a3c7a00</xsd:appinfo>
              <xsd:documentation>Vollständiger Name</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="80"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="EMPLOYER">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e28d6b1c2f11ebc9e600059a3c7a00</xsd:appinfo>
              <xsd:documentation>Name des Arbeitgebers einer natürlichen Person</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="35"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="OCCUPATION">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e28d6c1c2f11ebb0e900059a3c7a00</xsd:appinfo>
              <xsd:documentation>Beruf des Geschäftspartners</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="NATIONALITY">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e28d6d1c2f11ebb24300059a3c7a00</xsd:appinfo>
              <xsd:documentation>Nationalität des Geschäftspartners</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="NATIONALITYISO">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e28d6e1c2f11ebbf9100059a3c7a00</xsd:appinfo>
              <xsd:documentation>ISO-Code des Landes</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="COUNTRYORIGIN">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e28d6f1c2f11eb8bc300059a3c7a00</xsd:appinfo>
              <xsd:documentation>Herkunftsland bei Gebietsfremden</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BIRTHDT_STATUS">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a2e28d701c2f11ebbcce00059a3c7a00</xsd:appinfo>
              <xsd:documentation>Date of Birth: Status</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BusinessPartnerCreate_Response">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">f5155fcad87c11ebbdf1000000605fae</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="BUSINESS_PARTNER" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">596c8c6761a611eb8b50c2c10d8e829b</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="HEADER" type="BusinessPartner_HEADER">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">648371d5d87911eba9f5506b8d80085b</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="ID_KEYS" type="BusinessPartner_ID_KEYS">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">648371d6d87911eb8fbb506b8d80085b</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="PERS_DATA" type="BusinessPartner_PERS_DATA" minOccurs="0">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">648371d7d87911ebc3ed506b8d80085b</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="ORG_DATA" type="BusinessPartner_ORG_DATA" minOccurs="0">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">648371d8d87911ebb610506b8d80085b</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="RETURN_CODE" type="ReturnCode" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ff49d51507cf11ebc5b100059a3c7a00</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BusinessPartner_ORG_DATA">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">751066c0eec411eba860000000605fae</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="NAME1">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9d0b3ac71c3011eba80800059a3c7a00</xsd:appinfo>
              <xsd:documentation>Name 1 der Organisation</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="NAME2">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9d0b3ac81c3011eb9e5300059a3c7a00</xsd:appinfo>
              <xsd:documentation>Name 2 der Organisation</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="NAME3">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9d0b3ac91c3011eb876200059a3c7a00</xsd:appinfo>
              <xsd:documentation>Name 3 der Organisation</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="NAME4">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9d0b3aca1c3011ebcb8600059a3c7a00</xsd:appinfo>
              <xsd:documentation>Name 4 der Organisation</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="LANGU_ISO">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d33e2a10d88611eb8182506b8db478dd</xsd:appinfo>
              <xsd:documentation>Sprache der Organisation</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="LEGALFORM">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9d0b3acb1c3011eb92e000059a3c7a00</xsd:appinfo>
              <xsd:documentation>GP: Rechtsform der Organisation</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="INDUSTRYSECTOR">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9d0b3acc1c3011ebcc7700059a3c7a00</xsd:appinfo>
              <xsd:documentation>Branche</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="FOUNDATIONDATE" minOccurs="0" default="1000-01-01" nillable="true">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9d0b3acd1c3011eb860c00059a3c7a00</xsd:appinfo>
              <xsd:documentation>Gründungsdatum der Organisation</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:date">
                  <xsd:attribute ref="p9:DeletionIndicator"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="LIQUIDATIONDATE" minOccurs="0" default="1000-01-01" nillable="true">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9d0b3ace1c3011eb9d7600059a3c7a00</xsd:appinfo>
              <xsd:documentation>Liquidationsdatum der Organisation</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:date">
                  <xsd:attribute ref="p9:DeletionIndicator"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="LOC_NO_1">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9d0b3acf1c3011ebcd9900059a3c7a00</xsd:appinfo>
              <xsd:documentation>Internationale Lokationsnummer (Teil 1)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="7"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="LOC_NO_2">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9d0b3ad01c3011ebc94a00059a3c7a00</xsd:appinfo>
              <xsd:documentation>Internationale Lokationsnummer (Teil 2)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="5"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CHK_DIGIT">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9d0b3ad11c3011eb978c00059a3c7a00</xsd:appinfo>
              <xsd:documentation>Prüfziffer der internationalen Lokationsnummer</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="LEGALORG">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9d0b3ad21c3011ebb87a00059a3c7a00</xsd:appinfo>
              <xsd:documentation>Rechtsträger der Organisation</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SenderParmsDelivery">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">c40fb214d80211eb849e000000605fae</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="SYSID">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ac36ac4ad80211ebc5df506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>4-Stellige ID der Fachapplikation/Umsystem/Liefersystem</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:integer">
                <xsd:totalDigits value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BETRIEB" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ac36de46d80211eba140506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Betrieb/Mandant. Nur bei Mehrmandantensystemen relevant</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DELIVERY_ID">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">e94c7295d80211eb8767506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Für das Liefersystem eindeutige Id zum Identifizieren der Lieferung (SST-übergreifend)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="19"/>
                <xsd:fractionDigits value="0"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="VERSION" minOccurs="0" default="1.0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ac36de47d80211eb8096506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Version der Schnittstelle. Wird erst im Life Cycle wichtig, wenn neue Versionen der Schnittstelle notwendig werden. Defaultwert ist 1.0</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BusinessPartner_HEADER">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">a981c684aa0611ec9b2100000188603e</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="BPARTNER">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">aa32bd07aa0611ecc815000000605fae</xsd:appinfo>
              <xsd:documentation>SAP ID eines Business Partners</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PARTN_CAT">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">aa32bd08aa0611ec8486000000605fae</xsd:appinfo>
              <xsd:documentation>Geschäftspartnertyp: (1: Person, 2: Organisation )</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PARTN_TYP">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">aa32bd09aa0611ec87d8000000605fae</xsd:appinfo>
              <xsd:documentation>Geschäftspartnerart</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PARTN_GRP" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">aa32bd0aaa0611ec9de1000000605fae</xsd:appinfo>
              <xsd:documentation>Geschäftspartnergruppierung</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PARTN_TAXKD" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BusinessPartnerCreate_Request">
    <wsdl:documentation/>
    <wsdl:part name="BusinessPartnerCreate_Request" element="p1:BusinessPartnerCreate_Request"/>
  </wsdl:message>
  <wsdl:message name="BusinessPartnerCreate_Response">
    <wsdl:documentation/>
    <wsdl:part name="BusinessPartnerCreate_Response" element="p1:BusinessPartnerCreate_Response"/>
  </wsdl:message>
  <wsdl:portType name="os_BusinessPartnerCreate">
    <wsdl:documentation/>
    <wsdl:operation name="os_BusinessPartnerCreate">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_os_BusinessPartnerCreate"/>
      </wsp:Policy>
      <wsdl:input message="p1:BusinessPartnerCreate_Request"/>
      <wsdl:output message="p1:BusinessPartnerCreate_Response"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="os_BusinessPartnerCreateBinding" type="p1:os_BusinessPartnerCreate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    <wsdl:operation name="os_BusinessPartnerCreate">
      <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="os_BusinessPartnerCreateService">
    <wsdl:port name="HTTP_Port" binding="p1:os_BusinessPartnerCreateBinding">
      <soap:address location="http://sap-po-dev.infra.be.ch:50100/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_2080&amp;receiverParty=&amp;receiverService=&amp;interface=os_BusinessPartnerCreate&amp;interfaceNamespace=urn%3Abe.ch%3AKTBE_MDG%3ABUSINESS_PARTNER" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:os_BusinessPartnerCreateBinding">
      <soap:address location="https://sap-po-dev.infra.be.ch:443/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_2080&amp;receiverParty=&amp;receiverService=&amp;interface=os_BusinessPartnerCreate&amp;interfaceNamespace=urn%3Abe.ch%3AKTBE_MDG%3ABUSINESS_PARTNER" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
