backend/src/main/resources/wsdl/vendorposting/SST-003-VendorPostingCreate.wsdl

<wsdl:definitions name="os_VendorPostingCreate" targetNamespace="urn:be.ch:KTBE_ERP_FI:VENDOR_POSTING" xmlns:p1="urn:be.ch:KTBE_ERP_FI:VENDOR_POSTING" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <wsp:Policy wsu:Id="OP_os_VendorPostingCreate"/>
  <wsdl:types>
    <xsd:schema targetNamespace="urn:be.ch:KTBE_ERP_FI:VENDOR_POSTING" xmlns="urn:be.ch:KTBE_ERP_FI:VENDOR_POSTING" xmlns:p7="urn:be.ch:KTBE_ERP_FI:GENERAL" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="urn:be.ch:KTBE_ERP_FI:GENERAL"/>
      <xsd:element name="VendorPostingCreate_Response" type="VendorPostingCreate_Response"/>
      <xsd:element name="VendorPostingCreate_Request" type="VendorPostingCreate_Request"/>
      <xsd:complexType name="VendorPostingCreate_Response">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">d928c0a6da3d11ebc8ec00000188603e</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="RETURN_CODE" type="p7:ReturnCode" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">c1237d211cf111eb899800059a3c7a00</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="VendorPostingCreate_Request">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">b8e48861246b11ed800c00000188603e</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="SENDER" type="p7:SenderParmsDelivery"/>
          <xsd:element name="VENDOR_POSTING" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="HEADER">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="DOC_TYPE" default="YK">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">e196bef3246b11ed911c000000605fae</xsd:appinfo>
                          <xsd:documentation>Belegart. YK = Kreditorenrechnung (über Schnittstelle)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="2"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="COMP_CODE">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">e196bef4246b11ed8ef4000000605fae</xsd:appinfo>
                          <xsd:documentation>Buchungskreis</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="HEADER_TXT">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">e196bef5246b11ed9e6b000000605fae</xsd:appinfo>
                          <xsd:documentation>Kopftext, steht für wen die Leistung sein soll</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="25"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="REF_DOC_NO">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">e196bef6246b11ed9055000000605fae</xsd:appinfo>
                          <xsd:documentation>Referenz-Belegnummer</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="16"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="PAYMENT_REASON" minOccurs="0">
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="16"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="DOC_DATE" type="xsd:date">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">e196bef7246b11eda7f7000000605fae</xsd:appinfo>
                          <xsd:documentation>Belegdatum im Beleg</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="PSTNG_DATE" type="xsd:date">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">e196bef8246b11edc499000000605fae</xsd:appinfo>
                          <xsd:documentation>Buchungsdatum im Beleg</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="CURRENCY" default="CHF">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">e196bef9246b11edafb3000000605fae</xsd:appinfo>
                          <xsd:documentation>Währung: CHF/EUR/USD etc.</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="5"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="IKS_RELEVANT" type="xsd:boolean" minOccurs="0" default="true">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">e196befa246b11eda184000000605fae</xsd:appinfo>
                          <xsd:documentation>Soll der Beleg durch Genehmigungs-WorkFlow laufen?</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="VENDOR">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="VENDOR_NO">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">e196befb246b11edbcd9000000605fae</xsd:appinfo>
                          <xsd:documentation>SAP Kreditorennummer [Service: SST-074]</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="AMT_DOCCUR">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">e196befc246b11edaacb000000605fae</xsd:appinfo>
                          <xsd:documentation>Betrag, der an den Kreditor ausgezahlt wird; Dezimalzeichen ist Punkt (kein Komma); bis zu 2 Nachkommastellen sind erlaubt. Nur positive Werte</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:decimal">
                            <xsd:totalDigits value="23"/>
                            <xsd:fractionDigits value="2"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="ZTERM">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">e196befd246b11eda8bf000000605fae</xsd:appinfo>
                          <xsd:documentation>Zahlungsbedingungen, müssen vorher im SAP sein, sonst wird ein Standardwert genommen [Service: SST-091]</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="ITEM_TEXT" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">e196befe246b11edbdc7000000605fae</xsd:appinfo>
                          <xsd:documentation>Positionstext zur Leistung</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="50"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="PAYMENT_DETAIL">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">e196bf05246b11edb8a6000000605fae</xsd:appinfo>
                    <xsd:documentation>Eine von 4 Zahloptionen muss übermittelt werden</xsd:documentation>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="BANK_ID" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">e196beff246b11ed9048000000605fae</xsd:appinfo>
                          <xsd:documentation>Zahlungverbindungs-ID, an das die Auszahlung erfolgt [Service: SST-075]</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="IBAN" minOccurs="0">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="IBAN">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">e196bf00246b11edc83c000000605fae</xsd:appinfo>
                                <xsd:documentation>IBAN</xsd:documentation>
                              </xsd:annotation>
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                  <xsd:maxLength value="34"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="ACCOUNTHOLDER" minOccurs="0">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">e196bf01246b11ed87ec000000605fae</xsd:appinfo>
                                <xsd:documentation>Abweichender Name der Zahlungsverbindung</xsd:documentation>
                              </xsd:annotation>
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                  <xsd:maxLength value="60"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="QR_IBAN" minOccurs="0">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="QRIBAN">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">e196bf02246b11edc596000000605fae</xsd:appinfo>
                                <xsd:documentation>QR-IBAN International Bank Account Number</xsd:documentation>
                              </xsd:annotation>
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                  <xsd:maxLength value="34"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="QRIBAN_ADDL_INFO">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">e196bf03246b11ed9044000000605fae</xsd:appinfo>
                                <xsd:documentation>QR-Rechnung: Zusätzliche Informationen</xsd:documentation>
                              </xsd:annotation>
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                  <xsd:maxLength value="140"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="PO_REF_NO">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">e196bf04246b11edcc4c000000605fae</xsd:appinfo>
                                <xsd:documentation>ESR/QR-Referenznummer</xsd:documentation>
                              </xsd:annotation>
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                  <xsd:maxLength value="27"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="GL_ACCOUNT" maxOccurs="9999">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="ITEMNO_ACC">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">e196bf06246b11edb3ea000000605fae</xsd:appinfo>
                          <xsd:documentation>Positions-ID (muss übereinstimmend sein)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:decimal">
                            <xsd:totalDigits value="10"/>
                            <xsd:fractionDigits value="0"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="GL_ACCOUNT">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">e196bf07246b11eda037000000605fae</xsd:appinfo>
                          <xsd:documentation>Aufwandkonto im SAP: i.d.R 3*, 5*</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="ORDERID" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">e196bf08246b11eda862000000605fae</xsd:appinfo>
                          <xsd:documentation>Kontierung: Innenauftrag [Service: SST-012]</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="12"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="TAX_CODE" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">e196bf09246b11ed8e97000000605fae</xsd:appinfo>
                          <xsd:documentation>Mehrwertsteuerkennzeichen</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="2"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="WBS_ELEM" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">e196bf0a246b11edbf71000000605fae</xsd:appinfo>
                          <xsd:documentation>Kontierung: PSP-Element [Service: SST-012]</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="24"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="COSTCENTER" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">e196bf0b246b11ed86ca000000605fae</xsd:appinfo>
                          <xsd:documentation>Kontierung: Kostenstelle [Service: SST-012]</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="ITEM_TEXT" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">e196bf0c246b11edb1fc000000605fae</xsd:appinfo>
                          <xsd:documentation>Positionstext zur Leistung</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="50"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="KBLNR" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">e196bf0d246b11edad05000000605fae</xsd:appinfo>
                          <xsd:documentation>Belegnummer Mittelvormerkung</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="KBLPOS" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">e196bf0e246b11ed951f000000605fae</xsd:appinfo>
                          <xsd:documentation>Belegposition Mittelvormerkung</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:integer">
                            <xsd:totalDigits value="3"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="REFSETERLK" type="xsd:boolean" minOccurs="0" default="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">e196bf0f246b11ed8516000000605fae</xsd:appinfo>
                          <xsd:documentation>Verbrauchte Mittelvormerkung wird auf erledigt gesetzt</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="POSITION" maxOccurs="9999">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="ITEMNO_ACC">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">e196bf10246b11ed913d000000605fae</xsd:appinfo>
                          <xsd:documentation>Positions-ID (muss übereinstimmend sein)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:decimal">
                            <xsd:totalDigits value="10"/>
                            <xsd:fractionDigits value="0"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="AMT_DOCCUR">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">e196f08b246b11edc41e000000605fae</xsd:appinfo>
                          <xsd:documentation>Betrag: muss in Summe den Kreditorenbetrag ausgleichen, kann aber auf verschiedene Kostenträger gebucht werden. Dezimalstelle als Punkt übertragen, bis zu 4 Nachkommastellen möglich</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:decimal">
                            <xsd:totalDigits value="19"/>
                            <xsd:fractionDigits value="4"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="ATTACHMENT" minOccurs="0" maxOccurs="unbounded">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="FILENAME">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">e196f08c246b11ed825d000000605fae</xsd:appinfo>
                          <xsd:documentation>Dateiname</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="60"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="FILECONTENT" type="xsd:base64Binary">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">e196f08d246b11edbfd2000000605fae</xsd:appinfo>
                          <xsd:documentation>Inhalt der Datei in base64Binary-Format</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="ADDITIONAL_DATA" type="p7:AdditionalData" minOccurs="0" maxOccurs="unbounded"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema targetNamespace="urn:be.ch:KTBE_ERP_FI:GENERAL" xmlns="urn:be.ch:KTBE_ERP_FI:GENERAL" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:complexType name="AdditionalData">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE">Struktur für Zusatzdaten</xsd:documentation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">ccc83df0a6a911ec839500000188603e</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="KEY">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">cd571674a6a911ec9cf0000000605fae</xsd:appinfo>
              <xsd:documentation>Schlüssel zum Feld</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="VALUE">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">cd571675a6a911eca0d4000000605fae</xsd:appinfo>
              <xsd:documentation>Feldwert</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="255"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="INDEX" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">cd571676a6a911eca20f000000605fae</xsd:appinfo>
              <xsd:documentation>Position (optional)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="10"/>
                <xsd:fractionDigits value="0"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReturnCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE">Rückgabe-Strktur für Nachrichten</xsd:documentation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">54143663da3411eb8e3a00000188603e</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="TYPE">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">34da3240d7fa11ebb7f3506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>S = Success, W = Warning, E = Error, I = Info</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MSG_NR">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">34da3241d7fa11ebbc4a506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Eindeutige ID der Nachricht</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:integer">
                <xsd:totalDigits value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MESSAGE">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">34da3242d7fa11eb9623506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Text der Nachricht</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="220"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SenderParmsDelivery">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE">SenderParameter mit Delivery-ID</xsd:documentation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">41e7ed68da3411eb858e00000188603e</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="SYSID">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ac36ac4ad80211ebc5df506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>4-Stellige ID der Fachapplikation/Umsystem/Liefersystem</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:integer">
                <xsd:totalDigits value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BETRIEB" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ac36de46d80211eba140506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Betrieb/Mandant. Nur bei Mehrmandantensystemen relevant</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DELIVERY_ID">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">e94c7295d80211eb8767506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Für das Liefersystem eindeutige Id zum Identifizieren der Lieferung (SST-übergreifend)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="19"/>
                <xsd:fractionDigits value="0"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="VERSION" minOccurs="0" default="1.0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ac36de47d80211eb8096506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Version der Schnittstelle. Wird erst im Life Cycle wichtig, wenn neue Versionen der Schnittstelle notwendig werden. Defaultwert ist 1.0</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="VendorPostingCreate_Request">
    <wsdl:documentation/>
    <wsdl:part name="VendorPostingCreate_Request" element="p1:VendorPostingCreate_Request"/>
  </wsdl:message>
  <wsdl:message name="VendorPostingCreate_Response">
    <wsdl:documentation/>
    <wsdl:part name="VendorPostingCreate_Response" element="p1:VendorPostingCreate_Response"/>
  </wsdl:message>
  <wsdl:portType name="os_VendorPostingCreate">
    <wsdl:documentation/>
    <wsdl:operation name="os_VendorPostingCreate">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_os_VendorPostingCreate"/>
      </wsp:Policy>
      <wsdl:input message="p1:VendorPostingCreate_Request"/>
      <wsdl:output message="p1:VendorPostingCreate_Response"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="os_VendorPostingCreateBinding" type="p1:os_VendorPostingCreate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    <wsdl:operation name="os_VendorPostingCreate">
      <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="os_VendorPostingCreateService">
    <wsdl:port name="HTTP_Port" binding="p1:os_VendorPostingCreateBinding">
      <soap:address location="http://sap-po-dev.infra.be.ch:50100/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_2080&amp;receiverParty=&amp;receiverService=&amp;interface=os_VendorPostingCreate&amp;interfaceNamespace=urn%3Abe.ch%3AKTBE_ERP_FI%3AVENDOR_POSTING" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:os_VendorPostingCreateBinding">
      <soap:address location="https://sap-po-dev.infra.be.ch:443/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_2080&amp;receiverParty=&amp;receiverService=&amp;interface=os_VendorPostingCreate&amp;interfaceNamespace=urn%3Abe.ch%3AKTBE_ERP_FI%3AVENDOR_POSTING" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
