backend/src/main/java/ch/dvbern/stip/api/sap/service/endpoints/businesspartner/change/SST-077-BusinessPartnerChange.wsdl

<wsdl:definitions xmlns:p1="urn:be.ch:KTBE_MDG:BUSINESS_PARTNER" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="os_BusinessPartnerChange" targetNamespace="urn:be.ch:KTBE_MDG:BUSINESS_PARTNER">
  <script/>
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <wsp:Policy wsu:Id="OP_os_BusinessPartnerChange"/>
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:be.ch:KTBE_MDG:BUSINESS_PARTNER" targetNamespace="urn:be.ch:KTBE_MDG:BUSINESS_PARTNER">
      <xsd:element name="BusinessPartnerChange_Request" type="BusinessPartnerChange_Request"/>
      <xsd:element name="BusinessPartnerChange_Response" type="BusinessPartnerChange_Response"/>
      <xsd:complexType name="AdditionalData">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">61777f85e18111ebc138000000605fae</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="KEY">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">fe98fb98d7dd11ebc049506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Schlüssel zum Feld</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="VALUE">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">fe98fb99d7dd11eb84db506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Feldwert</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="255"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="INDEX">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">fe98fb9ad7dd11eb8e46506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Position (optional)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="10"/>
                <xsd:fractionDigits value="0"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReturnCode">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">b157b495035511ed8e3900000188603e</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="TYPE">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">b1bc62d7035511eda740000000605fae</xsd:appinfo>
              <xsd:documentation>S = Success, W = Warning, E = Error, I = Info</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MSG_NR">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">b1bc62d8035511ed8018000000605fae</xsd:appinfo>
              <xsd:documentation>Eindeutige ID der Nachricht</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:integer">
                <xsd:totalDigits value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MESSAGE">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">b1bc9aff035511edb719000000605fae</xsd:appinfo>
              <xsd:documentation>Text der Nachricht</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="220"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ID" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">b1bc9b00035511ed99ec000000605fae</xsd:appinfo>
              <xsd:documentation>Nachrichtenklasse</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BusinessPartnerChange_Request">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">b3c3a6dddde711ed9fb1000000605fae</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="SENDER" type="SenderParmsDelivery"/>
          <xsd:element name="BUSINESS_PARTNER">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="HEADER">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="BPARTNER">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c6da0ddec11ed9bfe000000605fae</xsd:appinfo>
                          <xsd:documentation>Geschäftspartnernummer</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:integer">
                            <xsd:minInclusive value="1000000000"/>
                            <xsd:maxInclusive value="1999999999"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="ID_KEYS">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="EXT_ID" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c9725ddec11edcdc4000000605fae</xsd:appinfo>
                          <xsd:documentation>Geschäftspartnernummer im externen System</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="20"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="AHV_NR" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c9726ddec11edc2fc000000605fae</xsd:appinfo>
                          <xsd:documentation>AHV-Nummer</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="13"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="UID_NR" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c9727ddec11edac0d000000605fae</xsd:appinfo>
                          <xsd:documentation>Unternehmens-Identifikationsnummer</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="12"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="ZPV_NR" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c9728ddec11eda90f000000605fae</xsd:appinfo>
                          <xsd:documentation>ZPV-Nummer</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="PERS_DATA" minOccurs="0">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="FIRSTNAME" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c9729ddec11edb5af000000605fae</xsd:appinfo>
                          <xsd:documentation>Vorname des Geschäftspartners (Person)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="LASTNAME" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c972addec11eda1a3000000605fae</xsd:appinfo>
                          <xsd:documentation>Nachname des Geschäftspartners (Person)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="CORRESPONDLANGUAGEISO" minOccurs="0" default="DE">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c972bddec11ed81da000000605fae</xsd:appinfo>
                          <xsd:documentation>2-stelliger SAP Language Code</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="2"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="BIRTHNAME" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c972cddec11ed995d000000605fae</xsd:appinfo>
                          <xsd:documentation>Geburtsname des Geschäftspartners</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="MIDDLENAME" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c972dddec11edbffc000000605fae</xsd:appinfo>
                          <xsd:documentation>Mittlerer Name oder zweiter Vorname der Person</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="SECONDNAME" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c972eddec11ed9eaf000000605fae</xsd:appinfo>
                          <xsd:documentation>Zweiter Nachname der Person</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="TITLE_ACA1" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c972fddec11edb3c9000000605fae</xsd:appinfo>
                          <xsd:documentation>Akademischer Titel: Schlüssel</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="0001"/>
                            <xsd:enumeration value="0002"/>
                            <xsd:enumeration value="0003"/>
                            <xsd:enumeration value="0004"/>
                            <xsd:enumeration value="0005"/>
                            <xsd:enumeration value="0006"/>
                            <xsd:maxLength value="4"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="TITLE_ACA2" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c9730ddec11edbd20000000605fae</xsd:appinfo>
                          <xsd:documentation>Zweiter akademischer Titel (Schlüssel)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="TITLE_SPPL" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c9731ddec11edbff9000000605fae</xsd:appinfo>
                          <xsd:documentation>Namenszusatz, z.B. Adelstitel (Schlüssel)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="PREFIX1" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c9732ddec11edbc2f000000605fae</xsd:appinfo>
                          <xsd:documentation>Vorsatzwort zum Namen (Schlüssel)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="PREFIX2" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c9733ddec11ed9627000000605fae</xsd:appinfo>
                          <xsd:documentation>2. Vorsatzwort zum Namen (Schlüssel)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="NICKNAME" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c9734ddec11edb6fa000000605fae</xsd:appinfo>
                          <xsd:documentation>Rufname des Geschäftspartners (Person)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="INITIALS" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c9735ddec11edcbd6000000605fae</xsd:appinfo>
                          <xsd:documentation>Middle Initial bzw. Initialen der Person</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="NAMEFORMAT" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c9736ddec11edc611000000605fae</xsd:appinfo>
                          <xsd:documentation>Format für die Namensaufbereitung</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="2"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="NAMCOUNTRY" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c9737ddec11edc00e000000605fae</xsd:appinfo>
                          <xsd:documentation>Land für Namensaufbereitungsregel</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="3"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="NAMCOUNTRYISO" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c9738ddec11ed9b2b000000605fae</xsd:appinfo>
                          <xsd:documentation>ISO-Code des Landes</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="2"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="SEX" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c9739ddec11edc7b0000000605fae</xsd:appinfo>
                          <xsd:documentation>Geschlecht des Geschäftspartners (Person)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="1"/>
                            <xsd:enumeration value="2"/>
                            <xsd:maxLength value="1"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="BIRTHPLACE" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c973addec11ed9788000000605fae</xsd:appinfo>
                          <xsd:documentation>Geburtsort des Geschäftspartners</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="BIRTHDATE" type="xsd:date" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c973bddec11eda7d5000000605fae</xsd:appinfo>
                          <xsd:documentation>Geburtsdatum des Geschäftspartners</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="DEATHDATE" type="xsd:date" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c973cddec11ed8c36000000605fae</xsd:appinfo>
                          <xsd:documentation>Sterbedatum des Geschäftspartners</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="MARITALSTATUS" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c973dddec11ed8fda000000605fae</xsd:appinfo>
                          <xsd:documentation>Familienstand des Geschäftspartners</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="1"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="CORRESPONDLANGUAGE" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c973eddec11edc825000000605fae</xsd:appinfo>
                          <xsd:documentation>Geschäftspartner: Korrespondenzsprache</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="1"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="FULLNAME" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c973fddec11ed9936000000605fae</xsd:appinfo>
                          <xsd:documentation>Vollständiger Name</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="80"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="EMPLOYER" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c9740ddec11eda697000000605fae</xsd:appinfo>
                          <xsd:documentation>Name des Arbeitgebers einer natürlichen Person</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="35"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="OCCUPATION" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c9741ddec11ed9e65000000605fae</xsd:appinfo>
                          <xsd:documentation>Beruf des Geschäftspartners</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="NATIONALITY" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c9742ddec11edc3ea000000605fae</xsd:appinfo>
                          <xsd:documentation>Nationalität des Geschäftspartners</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="3"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="NATIONALITYISO" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c9743ddec11edbdd7000000605fae</xsd:appinfo>
                          <xsd:documentation>ISO-Code des Landes</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="2"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="COUNTRYORIGIN" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c9744ddec11edcc78000000605fae</xsd:appinfo>
                          <xsd:documentation>Herkunftsland bei Gebietsfremden</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="3"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="BIRTHDT_STATUS" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c9745ddec11ed9cc2000000605fae</xsd:appinfo>
                          <xsd:documentation>Date of Birth: Status</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="1"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="ORG_DATA" minOccurs="0">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="NAME1" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c9746ddec11edaa73000000605fae</xsd:appinfo>
                          <xsd:documentation>Name 1 der Organisation</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="NAME2" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c9747ddec11edc2a0000000605fae</xsd:appinfo>
                          <xsd:documentation>Name 2 der Organisation</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="NAME3" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c9748ddec11ed85f5000000605fae</xsd:appinfo>
                          <xsd:documentation>Name 3 der Organisation</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="NAME4" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c9749ddec11edbb78000000605fae</xsd:appinfo>
                          <xsd:documentation>Name 4 der Organisation</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="LANGU_ISO" minOccurs="0" default="DE">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c974addec11ed8bbc000000605fae</xsd:appinfo>
                          <xsd:documentation>Sprache der Organisation</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="2"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="LEGALFORM" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c974bddec11edaa78000000605fae</xsd:appinfo>
                          <xsd:documentation>GP: Rechtsform der Organisation</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="2"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="INDUSTRYSECTOR" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c974cddec11edabac000000605fae</xsd:appinfo>
                          <xsd:documentation>Branche</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="FOUNDATIONDATE" type="xsd:date" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720c974dddec11edbdfc000000605fae</xsd:appinfo>
                          <xsd:documentation>Gründungsdatum der Organisation</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="LIQUIDATIONDATE" type="xsd:date" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720cbb92ddec11eda360000000605fae</xsd:appinfo>
                          <xsd:documentation>Liquidationsdatum der Organisation</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="LOC_NO_1" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720cbb93ddec11edcb28000000605fae</xsd:appinfo>
                          <xsd:documentation>Internationale Lokationsnummer (Teil 1)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="7"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="LOC_NO_2" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720cbb94ddec11edad5c000000605fae</xsd:appinfo>
                          <xsd:documentation>Internationale Lokationsnummer (Teil 2)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="5"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="CHK_DIGIT" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720cbb95ddec11edbaf7000000605fae</xsd:appinfo>
                          <xsd:documentation>Prüfziffer der internationalen Lokationsnummer</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="1"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="LEGALORG" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720cbb96ddec11edc171000000605fae</xsd:appinfo>
                          <xsd:documentation>Rechtsträger der Organisation</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="2"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="ADDRESS" minOccurs="0" maxOccurs="unbounded">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="ADR_KIND" default="XXDEFAULT">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720cbb97ddec11ed932f000000605fae</xsd:appinfo>
                          <xsd:documentation>Adressart</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="C_O_NAME" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720cbb98ddec11ed8db1000000605fae</xsd:appinfo>
                          <xsd:documentation>c/o-Name</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="CITY" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720cbb99ddec11ed9931000000605fae</xsd:appinfo>
                          <xsd:documentation>Ort</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="DISTRICT" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720cbb9addec11ed843e000000605fae</xsd:appinfo>
                          <xsd:documentation>Ortsteil</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="POSTL_COD1" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720cbb9bddec11edce9a000000605fae</xsd:appinfo>
                          <xsd:documentation>Postleitzahl des Orts</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="PO_BOX" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720cbb9cddec11eda842000000605fae</xsd:appinfo>
                          <xsd:documentation>Postfach</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="STREET" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720cbb9dddec11eda33c000000605fae</xsd:appinfo>
                          <xsd:documentation>Straße</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="HOUSE_NO" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720cbb9eddec11edcb8f000000605fae</xsd:appinfo>
                          <xsd:documentation>Hausnummer</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="COUNTRY" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720cbb9fddec11ed90db000000605fae</xsd:appinfo>
                          <xsd:documentation>Länderschlüssel</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="3"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="POSTL_COD2" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720cbba0ddec11edb461000000605fae</xsd:appinfo>
                          <xsd:documentation>Postleitzahl zum Postfach</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="COMMUNICATION" minOccurs="0" maxOccurs="unbounded">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="CONSNUMBER" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720cbba1ddec11ed9d73000000605fae</xsd:appinfo>
                          <xsd:documentation>ID der Kommunikation</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:integer">
                            <xsd:totalDigits value="3"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="EMAIL" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720cbba2ddec11eda108000000605fae</xsd:appinfo>
                          <xsd:documentation>Email-Adresse</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="241"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="TELEPHONE" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720cbba3ddec11ed8656000000605fae</xsd:appinfo>
                          <xsd:documentation>Erste Telefon-Nr.: Vorwahl + Anschluß</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="30"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="MOBILE" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720cbba4ddec11ed8657000000605fae</xsd:appinfo>
                          <xsd:documentation>Erste Mobiltelefon-Nr.: Vorwahl + Anschluß</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="30"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="FAX" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720cbba5ddec11edc4de000000605fae</xsd:appinfo>
                          <xsd:documentation>Erste Fax-Nr.: Vorwahl + Anschluss</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="30"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="PAYMENT_DETAIL" minOccurs="0" maxOccurs="unbounded">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="BANK_ID">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720cbba6ddec11ed9595000000605fae</xsd:appinfo>
                          <xsd:documentation>ID der Zahlungsverbindung</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="IBAN" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720cbba7ddec11ed82cf000000605fae</xsd:appinfo>
                          <xsd:documentation>IBAN (International Bank Account Number)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="34"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="BANKDETAILVALIDFROM" type="xsd:date" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720cbba8ddec11ed83ac000000605fae</xsd:appinfo>
                          <xsd:documentation>Gültigkeitsdatum (gültig ab)</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="BANKDETAILVALIDTO" type="xsd:date" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720cbba9ddec11ed8ef3000000605fae</xsd:appinfo>
                          <xsd:documentation>Gültigkeitsdatum (gültig bis)</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="ACCOUNTHOLDER" minOccurs="0">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">720cbbaaddec11ed8e6e000000605fae</xsd:appinfo>
                          <xsd:documentation>Abweichender Name der Zahlungsverbindung</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="60"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="ADDITIONAL_DATA" type="AdditionalData" minOccurs="0" maxOccurs="unbounded"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BusinessPartnerChange_Response">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">c80c5193d7f911ebb352000000605fae</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="RETURN_CODE" type="ReturnCode" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ff49d51507cf11ebc5b100059a3c7a00</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SenderParmsDelivery">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">c40fb214d80211eb849e000000605fae</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="SYSID">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ac36ac4ad80211ebc5df506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>4-Stellige ID der Fachapplikation/Umsystem/Liefersystem</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:integer">
                <xsd:totalDigits value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BETRIEB" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ac36de46d80211eba140506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Betrieb/Mandant. Nur bei Mehrmandantensystemen relevant</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DELIVERY_ID">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">e94c7295d80211eb8767506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Für das Liefersystem eindeutige Id zum Identifizieren der Lieferung (SST-übergreifend)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="19"/>
                <xsd:fractionDigits value="0"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="VERSION" minOccurs="0" default="1.0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ac36de47d80211eb8096506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Version der Schnittstelle. Wird erst im Life Cycle wichtig, wenn neue Versionen der Schnittstelle notwendig werden. Defaultwert ist 1.0</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BusinessPartnerChange_Request">
    <wsdl:documentation/>
    <wsdl:part name="BusinessPartnerChange_Request" element="p1:BusinessPartnerChange_Request"/>
  </wsdl:message>
  <wsdl:message name="BusinessPartnerChange_Response">
    <wsdl:documentation/>
    <wsdl:part name="BusinessPartnerChange_Response" element="p1:BusinessPartnerChange_Response"/>
  </wsdl:message>
  <wsdl:portType name="os_BusinessPartnerChange">
    <wsdl:documentation/>
    <wsdl:operation name="os_BusinessPartnerChange">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_os_BusinessPartnerChange"/>
      </wsp:Policy>
      <wsdl:input message="p1:BusinessPartnerChange_Request"/>
      <wsdl:output message="p1:BusinessPartnerChange_Response"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="os_BusinessPartnerChangeBinding" type="p1:os_BusinessPartnerChange">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="os_BusinessPartnerChange">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="os_BusinessPartnerChangeService">
    <wsdl:port name="HTTP_Port" binding="p1:os_BusinessPartnerChangeBinding">
      <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="http://sap-po-dev.infra.be.ch:50100/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_0000&amp;receiverParty=&amp;receiverService=&amp;interface=os_BusinessPartnerChange&amp;interfaceNamespace=urn%3Abe.ch%3AKTBE_MDG%3ABUSINESS_PARTNER"/>
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:os_BusinessPartnerChangeBinding">
      <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="https://sap-po-dev.infra.be.ch:443/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_0000&amp;receiverParty=&amp;receiverService=&amp;interface=os_BusinessPartnerChange&amp;interfaceNamespace=urn%3Abe.ch%3AKTBE_MDG%3ABUSINESS_PARTNER"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
