backend/src/main/resources/wsdl/importstatus/SST-073-GetImportStatus.wsdl

<wsdl:definitions name="os_ImportStatusRead" targetNamespace="urn:be.ch:KTBE_ERP_FI:IMPORT_STATUS" xmlns:p1="urn:be.ch:KTBE_ERP_FI:IMPORT_STATUS" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <wsp:Policy wsu:Id="OP_os_ImportStatusRead"/>
  <wsdl:types>
    <xsd:schema targetNamespace="urn:be.ch:KTBE_ERP_FI:IMPORT_STATUS" xmlns="urn:be.ch:KTBE_ERP_FI:IMPORT_STATUS" xmlns:p5="urn:be.ch:KTBE_ERP_FI:GENERAL" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="urn:be.ch:KTBE_ERP_FI:GENERAL"/>
      <xsd:element name="ImportStatusRead_Response" type="ImportStatusRead_Response"/>
      <xsd:element name="ImportStatusRead_Request" type="ImportStatusRead_Request"/>
      <xsd:complexType name="ImportStatusRead_Response">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE">Response für SST-073</xsd:documentation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">56ab0cb3069c11edca09000000605fae</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="DELIVERY" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="DELIVERY_ID">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">6e649570069c11ed8617000000605fae</xsd:appinfo>
                    <xsd:documentation>Für das Liefersystem eindeutige Id zum Identifizieren der Lieferung</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                      <xsd:totalDigits value="19"/>
                      <xsd:fractionDigits value="0"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="TYPE">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">6e649571069c11ed8255000000605fae</xsd:appinfo>
                    <xsd:documentation>Typ der Delivery (SST-NR + Beschreibung)</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="40"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="STATUS">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">6e649572069c11ed9746000000605fae</xsd:appinfo>
                    <xsd:documentation>Import-Status der Lieferung (0 = Initial, 1 = Erfolg, 2 = Teilerfolg, 3 = Fehler, 4 = Sistiert)</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                      <xsd:totalDigits value="3"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="KTEXT">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">6e649573069c11ed849a000000605fae</xsd:appinfo>
                    <xsd:documentation>Initial/Erfolg/Teilerfolg/Fehler/Sistierung.</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="40"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="LAST_ACTION" type="xsd:dateTime">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">6e649574069c11edc09c000000605fae</xsd:appinfo>
                    <xsd:documentation>Zeitpunkt der letzten Status-Aktualisierung</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="COUNTER_SUCCESS">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">6e649575069c11edb084000000605fae</xsd:appinfo>
                    <xsd:documentation>Anzahl erfolgreich verarbeiteter Positionen</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                      <xsd:totalDigits value="6"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="COUNTER_ERROR">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">6e649576069c11eda8b5000000605fae</xsd:appinfo>
                    <xsd:documentation>Anzahl fehlerhaft verarbeiteter Positionen</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                      <xsd:totalDigits value="6"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="COUNTER_INITIAL">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">6e649577069c11edc52c000000605fae</xsd:appinfo>
                    <xsd:documentation>Anzahl noch nicht verarbeiteter Positionen</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                      <xsd:totalDigits value="6"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="COUNTER_TOTAL">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">6e649578069c11ed84dc000000605fae</xsd:appinfo>
                    <xsd:documentation>Anzahl aller Positionen</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                      <xsd:totalDigits value="6"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="POSITION" minOccurs="0" maxOccurs="unbounded">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="POSID">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">6e649579069c11edbe84000000605fae</xsd:appinfo>
                          <xsd:documentation>Positions-ID des Belegs, wird von SAP intern aufsteigend vergeben</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:decimal">
                            <xsd:totalDigits value="10"/>
                            <xsd:fractionDigits value="0"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="STATUS">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">6e64957a069c11edc8a6000000605fae</xsd:appinfo>
                          <xsd:documentation>Status des Belegs: INITIAL, POSTING, RETRY, SUCCESS, ERROR, SUSPENDED</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="SAP_KEY">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">6e64957b069c11edc5ba000000605fae</xsd:appinfo>
                          <xsd:documentation>SAP-Schlüssel zum Objekt (falls schon eingespielt)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="EXT_KEY">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">6e64957c069c11eda930000000605fae</xsd:appinfo>
                          <xsd:documentation>Externer Schlüssel der Fachapplikation</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="LOGS" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="DATETIME" type="xsd:dateTime">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">6e64957d069c11edb9c4000000605fae</xsd:appinfo>
                                <xsd:documentation>Zeitpunkt des Logs</xsd:documentation>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="TYPE">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">6e64adbb069c11ed8d52000000605fae</xsd:appinfo>
                                <xsd:documentation>S = Success, W = Warning, E = Error, I = Info</xsd:documentation>
                              </xsd:annotation>
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                  <xsd:maxLength value="1"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="MSG_NR">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">6e64adbc069c11eda9cc000000605fae</xsd:appinfo>
                                <xsd:documentation>ID/Nummer der Nachricht</xsd:documentation>
                              </xsd:annotation>
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:integer">
                                  <xsd:totalDigits value="3"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="MESSAGE">
                              <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">6e64adbd069c11ed83fc000000605fae</xsd:appinfo>
                                <xsd:documentation>MESSAGE Element xsd:string 1  false maxLength="220"  Text der Nachricht</xsd:documentation>
                              </xsd:annotation>
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                  <xsd:maxLength value="220"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="ID" minOccurs="0">
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                  <xsd:maxLength value="20"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="RETURN_CODE" type="p5:ReturnCodeID" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ImportStatusRead_Request">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE">Request für SST-073</xsd:documentation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">24088e23e29411ebc77b00000188603e</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="SENDER" type="p5:SenderParms">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">36060cc92e6b11ebbb6d2248f886e6a4</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="FILTER_PARMS">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">1cdad9fb49b911ebb69576e03c1561a7</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="DELIVERY_ID" minOccurs="0">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">1cdad9f949b911ebb66276e03c1561a7</xsd:appinfo>
                    <xsd:documentation>Für das Liefersystem eindeutige Id zum Identifizieren der Lieferung</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                      <xsd:totalDigits value="19"/>
                      <xsd:fractionDigits value="0"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="SHOW_DETAILS" type="xsd:boolean" minOccurs="0" default="false">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">1cdad9fa49b911eb93de76e03c1561a7</xsd:appinfo>
                    <xsd:documentation>Sollen Details zu den einzelnen Positionen/Belegen gelesen werden -> "true/1"</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="STATUS" minOccurs="0" default="99">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">32d2d5e0d7f011eb82a2506b8d8a2ecc</xsd:appinfo>
                    <xsd:documentation>Import-Status der Lieferung (0 = Initial, 1 = Erfolg, 2 = Teilerfolg, 3 = Fehler, 4 = Sistiert, 99 = Alle)</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                      <xsd:enumeration value="0"/>
                      <xsd:enumeration value="1"/>
                      <xsd:enumeration value="2"/>
                      <xsd:enumeration value="3"/>
                      <xsd:enumeration value="4"/>
                      <xsd:enumeration value="99"/>
                      <xsd:totalDigits value="3"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="DATE_FROM" type="xsd:date" minOccurs="0">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">32d2d5e1d7f011ebbfae506b8d8a2ecc</xsd:appinfo>
                    <xsd:documentation>Datum der Übermittlung von (einschl.)</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="DATE_TO" type="xsd:date" minOccurs="0">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">32d2d5e2d7f011ebbacf506b8d8a2ecc</xsd:appinfo>
                    <xsd:documentation>Datum der Übermittlung bis (einschl.)</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="OFFSET" minOccurs="0" default="0">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">32d2d5e3d7f011eb8cfc506b8d8a2ecc</xsd:appinfo>
                    <xsd:documentation>Selektion ab Datensatz</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                      <xsd:totalDigits value="6"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="LIMIT" minOccurs="0" default="100">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">32d2d5e4d7f011eb8ffe506b8d8a2ecc</xsd:appinfo>
                    <xsd:documentation>Maximale Anzahl an selektierten Datensätzen</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                      <xsd:totalDigits value="6"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema targetNamespace="urn:be.ch:KTBE_ERP_FI:GENERAL" xmlns="urn:be.ch:KTBE_ERP_FI:GENERAL" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:complexType name="SenderParms">
        <xsd:annotation>
          <xsd:documentation xml:lang="DE">SenderParameter (ohne Delivery-ID)</xsd:documentation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">4906dd0ada3411ebb29b00000188603e</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="SYSID">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ac36ac4ad80211ebc5df506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>4-Stellige ID der Fachapplikation/Umsystem/Liefersystem</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:integer">
                <xsd:totalDigits value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BETRIEB" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ac36de46d80211eba140506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Betrieb/Mandant. Nur bei Mehrmandantensystemen relevant</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="VERSION" minOccurs="0" default="1.0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ac36de47d80211eb8096506b8d8a2ecc</xsd:appinfo>
              <xsd:documentation>Version der Schnittstelle. Wird erst im Life Cycle wichtig, wenn neue Versionen der Schnittstelle notwendig werden. Defaultwert ist 1.0</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReturnCodeID">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">96f66d56036711ed8fc0000000605fae</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="TYPE">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">351d7ba7036811edc7cf00000188603e</xsd:appinfo>
              <xsd:documentation>S = Success, W = Warning, E = Error, I = Info</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MSG_NR">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">351dac25036811edc2e000000188603e</xsd:appinfo>
              <xsd:documentation>Eindeutige ID der Nachricht</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:integer">
                <xsd:totalDigits value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MESSAGE">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">351dac26036811edbab500000188603e</xsd:appinfo>
              <xsd:documentation>Text der Nachricht</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="220"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ID" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">351dac27036811edceb500000188603e</xsd:appinfo>
              <xsd:documentation>Nachrichtenklasse</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ImportStatusRead_Request">
    <wsdl:documentation/>
    <wsdl:part name="ImportStatusRead_Request" element="p1:ImportStatusRead_Request"/>
  </wsdl:message>
  <wsdl:message name="ImportStatusRead_Response">
    <wsdl:documentation/>
    <wsdl:part name="ImportStatusRead_Response" element="p1:ImportStatusRead_Response"/>
  </wsdl:message>
  <wsdl:portType name="os_ImportStatusRead">
    <wsdl:documentation/>
    <wsdl:operation name="os_ImportStatusRead">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_os_ImportStatusRead"/>
      </wsp:Policy>
      <wsdl:input message="p1:ImportStatusRead_Request"/>
      <wsdl:output message="p1:ImportStatusRead_Response"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="os_ImportStatusReadBinding" type="p1:os_ImportStatusRead">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    <wsdl:operation name="os_ImportStatusRead">
      <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="os_ImportStatusReadService">
    <wsdl:port name="HTTP_Port" binding="p1:os_ImportStatusReadBinding">
      <soap:address location="http://sap-po-dev.infra.be.ch:50100/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_2080&amp;receiverParty=&amp;receiverService=&amp;interface=os_ImportStatusRead&amp;interfaceNamespace=urn%3Abe.ch%3AKTBE_ERP_FI%3AIMPORT_STATUS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:os_ImportStatusReadBinding">
      <soap:address location="https://sap-po-dev.infra.be.ch:443/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_2080&amp;receiverParty=&amp;receiverService=&amp;interface=os_ImportStatusRead&amp;interfaceNamespace=urn%3Abe.ch%3AKTBE_ERP_FI%3AIMPORT_STATUS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
